                        
                        <tr>
                        <td class="cell-detail"><textarea class="form-control" name="question[{{i}}]['question']" placeholder="question"> </textarea>
                        <span class="cell-detail-description">250 characters allowed</span></td>
                        <td class="cell-detail"><textarea class="form-control" name="question[{{i}}]['option']" placeholder="question"> </textarea>
                        <span class="cell-detail-description">Seperate by Comma</span></td>
                        <td class="number"><input type="text" name="question[{{i}}]['answer']" class="form-control"></td>
                        <td class="actions"><a class="icon" href="#"><i class="mdi mdi-delete"></i></a></td>
                        </tr>