<div class="form-group row">
  <input type="hidden" id="seis" value="{{current_det.id}}"> 
    <label class="col-12 col-sm-3 col-form-label text-left text-sm-right">Class Teacher</label>
    <div class="col-12 col-sm-8 col-lg-6">
      
      <select id="ses_class" class="selectw2" style="min-width:300px;">
        
        <option value=""> Select Option </option>
        
        {% for staff_class in all_staff %}  

        <option  {% if current_det.ClassTeacher_ID == staff_class.id %} selected {% endif %} value="{{staff_class.id}}"> {{staff_class.prefix}} {{staff_class.first_name}} {{staff_class.last_name}}</option>
        
        {% endfor %} 


        </select> </div>
  </div>
  
  <div class="form-group row">
      <label class="col-12 col-sm-3 col-form-label text-left text-sm-right">Head of Department</label>
      <div class="col-12 col-sm-8 col-lg-6">
        
            <select id="ses_hod" class="selectw2" style="min-width:300px;">
                    <option value=""> Select Option </option>
                    
                    {% for staff_class in all_staff %}
            
                    <option {% if current_det.HOD_ID == staff_class.id %} selected {% endif %} value="{{staff_class.id}}"> {{staff_class.prefix}} {{staff_class.first_name}} {{staff_class.last_name}}</option>
                    
                    {% endfor %} 
            
            
                    </select>  
                
                </div>
    </div>
    <div  class="modal-footer">
     <button onclick="save_record();" class="btn btn-success modal-close" type="button" data-dismiss="modal">Save</button>
    </div>
    <script>
      
      $('.selectw2').select2();

      function save_record(){
        var ses_id = $('#seis').val();
        var class_teacher = $('#ses_class').val();
        var hod_class = $('#ses_hod').val();
        console.log(ses_id);
        console.log(class_teacher);
        console.log(hod_class);

        if (ses_id!='' && class_teacher!='' && hod_class!=''){

          $.ajax({
            url: "/admin-panel/session/modal/ajax/update/"+ ses_id +"/"+ class_teacher +"/"+hod_class ,
            context: document.body
          }).done(function(data) {

            
  
            if (data.status == 'Ok'){
              $.gritter.add({title:"Updated", text:data.msg,class_name:"color success"});
            
            }else{
              $.gritter.add({title:"Updated", text:data.msg,class_name:"color danger"});
            

            }
           
            
            
  
            
          });



        }else{
          $.gritter.add({title:"Error", text:"All fields are mandatory!",class_name:"color danger"});
            
        }
        
      }



    </script>