{%  load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{setting_obj.favicon}}">
    <title>Monitor Exam - Admin</title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jqvmap/jqvmap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" %}"/>
   <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/select2/css/select2.min.css" %}"/>
   <link rel="stylesheet" href="{% static "admin/assets/css/app.css" %}" type="text/css"/>
   <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/multiselect/css/multi-select.css" %}"/>
   <link rel="stylesheet" type="text/css" href="https://www.jqueryscript.net/demo/jQuery-Countdown-Timer-Digital-Clock-Plugin-timeTo/timeTo.css"/>
    
  </head>
  <body>
    <div class="be-wrapper be-fixed-sidebar">
      <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
          <div class=""><a class="navbar-brand" href="#"></a>
          </div>
          <div class="page-title">{% if setting_obj.logo != ''%} <img style="height:30px;" src="{{setting_obj.logo}}"> {% else %}  <span><i>Top Academy</i></span>  {% endif %}</div>
          <div class="be-right-navbar">
            <ul class="nav navbar-nav float-right be-user-nav">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{% static "admin/assets/img/avatar.png"%}"" alt="Avatar"><span class="user-name">{{user_login.first_name}}</span></a>
                <div class="dropdown-menu" role="menu">     
                  <div class="user-info">
                    <div class="user-name">{{user_login.first_name}}</div>
                    <div class="user-position online">Available</div>
                  </div><a class="dropdown-item" href="/admin-panel/account"><span class="icon mdi mdi-face"></span>My Account</a><a class="dropdown-item" href="/admin-panel/settings"><span class="icon mdi mdi-settings"></span>Settings</a><a class="dropdown-item" href="/admin-panel/logout"><span class="icon mdi mdi-power"></span>Logout</a>
                </div>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="/admin-panel/">Dashboard</a>
          <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
              <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                  <li class="divider">Menu</li>
                  
                  <li class=" active"><a href="/admin-panel/"><i class="icon mdi mdi-face"></i><span>Dashboards</span></a>
                   </li>

                  <li class="parent"><a href="charts.html"><i class="icon mdi mdi-chart-donut"></i><span>Test Bank</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/add/test">New Test</a>
                      </li>
                      
                      <li><a href="/admin-panel/test/">Manage Test</a>
                      </li>

                      <li><a href="/admin-panel/test/">Test Action</a>
                      </li>
                     
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-dot-circle"></i><span>Learning</span></a>
                    <ul class="sub-menu">
                      
                      <li><a href="/admin-panel/post/add">New Post</a>
                      </li>
                      <li><a href="/admin-panel/post/">My Posts</a>
                      </li>
                    </ul>
                  </li>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-border-all"></i><span>Manage Users</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/students/">Students</a>
                      </li>

                      <li><a href="/admin-panel/staff/add">Staff</a>
                      </li>

                      <li><a href="/admin-panel/user/admin">Admin</a>
                      </li>
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-chart"></i><span>Reports</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/report/test">Test Report</a>
                      </li>

                      <li><a href="/admin-panel/report/exam">Exam Report</a>
                      </li>

                      <li><a href="/admin-panel/report/staff">Saff Activity</a>
                      </li>
                    </ul>
                  </li>

                  
                  <li class="parent"><a href="#"><i class="icon mdi mdi-dot-circle"></i><span>Account</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/account">My Account</a></li>
                    </ul>
                  </li>
                  <li class="divider">Other</li>
                  
                  <li class="parent"><a href="charts.html"><i class="icon mdi mdi-chart-donut"></i><span>Setup Website</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/steam">Question Bank Categories</a>
                      </li>
                      <li><a href="/admin-panel/branch"> College Programmes</a>
                      </li>
                      
                      <li><a href="/admin-panel/settings">Website Settings</a>
                      </li>
                     
                    </ul>
                  </li>
                  <li><a href="/admin-panel/announcement"><i class="icon mdi mdi-inbox"></i><span>Announcements</span></a>
                    
                  </li>
               
                  <li><a href="/admin-panel/session/"><i class="icon mdi mdi-assignment-account"></i><span>Session Manager</span></a>
                  </li>
                  <li><a href="/admin-panel/docs"><i class="icon mdi mdi-book"></i><span>Website Manual</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
      <div class="be-content">

            <div class="page-head">
                    <h2 class="page-head-title">Monitoring Exam</h2>
                    <span class="card-subtitle">Real time monetring : <b>Cap test</b></span>
            </div>
                 
              
              <div class="main-content container-fluid">
                    {% if messages %}


                    {% for message in messages %}
        
                     <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button>
                        <div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
                        <div class="message">{{message}}</div>
                      </div>
        
                    {% endfor %}
                 {% endif %}
                <div class="row">
                        <div class="col-lg-8">
                            <ul class="nav nav-tabs nav-tabs-classic" role="tablist">
                                <li class="nav-item"><a class="nav-link active" href="#classic_home" data-toggle="tab" role="tab">Real Time</a></li>
                                <li class="nav-item"><a class="nav-link" href="#classic_profile" data-toggle="tab" role="tab">Submissions</a></li>
                              </ul>
                            <div class="">
                                
                                  <div class="">
                                      <div class="" id="classic_home" role="tabpanel">
                                      
                                          <div class="card card-table">
                                  
                                              <div class="card-header pb-3">Current Progress
                                                    <div class="tools dropdown">
                                                    <input class="form-control form-control-md" placeholder="Search student" type="text">    
                                                    </div>
                                                    <span class="card-subtitle">Mark student YES/NO to take the Attendence and giving exam in Exam Hall.</span>
                                              </div>
                                              
                                                    <div class="table-responsive noSwipe">
                                                      <table id="subtable" class="table table-striped table-hover">
                                                      
                                                        <tbody>
                                                     
            
                                                            <div><p id="loading" class='text-center'><img height='60px' src='/static/admin/assets/ajax.gif'/></p></div>
                                                   
                                                                     
            
                                                                        
            
                                                                            
                                                                               
            
                                                     
                                                         
                                                        </tbody>
                                                      </table>
                                              
                                                  </div>
                                            </div>

                                            
                                          <div class="card card-table">
                                  
                                            <div class="card-header pb-3">Submissions
                                                  <div class="tools dropdown">
                                                  <input class="form-control form-control-md" placeholder="Search student" type="text">    
                                                  </div>
                                                  <span class="card-subtitle">Exam Submission for current this test is displayed here.</span>
                                            </div>
                                            
                                                  <div class="table-responsive noSwipe">
                                                    <table id="actable"  class="table table-striped table-hover">
                                                      <div><p id="loadingw" class='text-center'><img height='60px' src='/static/admin/assets/ajax.gif'/></p></div>
                                                   
                                                    </table>
                                            
                                                </div>
                                          </div>


                                      </div>
                                      
                                      
                                    </div>
                           
                              </div>
                          
                    
                        </div>
                        
                        <div class="col-lg-4">
                            <div class="row">
                               
                                   


                                    <div class="card card-border-color card-border-color-success">
                                        <div class="row col-md-12">  
                                        <div class="widget-chart-container col-md-6">
                                                    <div id="top-sales" style="height: 178px; padding: 0px; position: relative;"><canvas class="flot-base" width="294" height="178" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 294.328px; height: 178px;"></canvas><canvas class="flot-overlay" width="294" height="178" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 294.328px; height: 178px;"></canvas></div>
                                                    <div class="chart-pie-counter"><span id="realtime">0</span><br><small style="font-size: 16px;"><i class="icon icon-left mdi mdi-chart-donut"></i> REAL TIME</small></div>
                                                 
                                                </div>
                                               
                                                <div class="widget-chart-container col-md-6">
                                                        <div id="top-sales" style="height: 178px; padding: 0px; position: relative;"><canvas class="flot-base" width="294" height="178" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 294.328px; height: 178px;"></canvas><canvas class="flot-overlay" width="294" height="178" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 294.328px; height: 178px;"></canvas></div>
                                                        <div class="chart-pie-counter"><span id="sub">0</span><br><small style="font-size: 16px;"><i class="icon icon-left mdi mdi-comment-text"></i> SUBMISSIONS</small></div>
                                                     
                                                    </div>

</div>
<hr>   
        <div class="widget-chart-container">
                    <div id="top-sales" style="margin-top:-40px; margin-bottom:10px;height: 178px; padding: 0px; position: relative;"><canvas class="flot-base" width="294" height="178" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 294.328px; height: 178px;"></canvas><canvas class="flot-overlay" width="294" height="178" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 294.328px; height: 178px;"></canvas></div>
                    <div  class="chart-pie-counter"><span id="tirmer"></span><br><small style="font-size: 16px;"><i class="icon icon-left mdi mdi-timer"></i> ENDS IN</small></div>
                 
                </div>
                <div class="btn-group btn-primary btn-group-justified " role="group"><a class="btn btn-primary" href="/admin-panel/edit/test/{{test_detail.id}}">  REPORT SUBSCRIPTION</a>
                </div>     <div id="dssd"></div>

                                          

                                </div>
                                <div class="user-info-list card">
                                        <div class="card-header card-header-divider">Exam Information </div>
                                        <div class="card-body">
                                          <table class="no-border no-strip skills">
                                            <tbody class="no-border-x no-border-y">
                                              <tr>
                                                <td class="icon"><span class="mdi mdi-case"></span></td>
                                                <td class="item"> Year / Branch<span class="icon s7-portfolio"></span></td>
                                                <td>{{get_test_details.SCTSemester}} Yr/Sem, {{get_test_details.SCTBranch}}</td>
                                              </tr>
                                              <tr>
                                                <td class="icon"><span class="mdi mdi-cake"></span></td>
                                                <td class="item">Program<span class="icon s7-gift"></span></td>
                                                <td>{{get_test_details.SCTSteam}}</td>
                                              </tr>
                                             </tbody>
                                          </table>
                                        </div>
                                      </div>
                            </div>
                            

                        </div>
                      </div>
                  
        </div>
      </div>
    
    </div>
    <script src="{% static "admin/assets/lib/jquery/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/js/app.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.pie.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.time.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.resize.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/jquery.flot.orderBars.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/curvedLines.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/jquery.flot.tooltip.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery.sparkline/jquery.sparkline.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/countup/countUp.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-ui/jquery-ui.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jqvmap/jquery.vmap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jqvmap/maps/jquery.vmap.world.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/select2/js/select2.min.js" %}"  type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/select2/js/select2.full.min.js" %}"  type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/multiselect/js/jquery.multi-select.js" %}" type="text/javascript"></script>
    <script src="https://www.cssscript.com/demo/countdown-timer-plugin-javascript-timezz/src/TimezZ.js" type="text/javascript"></script>
    <script src="{% static "admin/assets/countUp.js-master/dist/countUp.min.js" %}" type="text/javascript"></script>
     <script src="https://www.jqueryscript.net/demo/jQuery-Countdown-Timer-Digital-Clock-Plugin-timeTo/jquery.timeTo.js" type="text/javascript"></script>
    
    <script type="text/javascript">
      const options = {
          startVal: 10,
        };
        let demo = new CountUp('myTargetElement', 5696, options);
        if (!demo.error) {
          demo.start();
        } else {
          console.error(demo.error);
        }

      new TimezZ('#tirmer', {
        date: '{{get_test_details_adv.DurationTo}}',
        daysName: ':',
        hoursName: ':',
        minutesName: ':',
        secondsName: '',
        numberTag: 'span',
        letterTag: 'i',
        stop: false, // stop the countdown timer?
    });

    setInterval(function() {
      console.log("Real time Check");
      $.get("/admin-panel/report/monitor/exam/{{exam_details.id}}/realtime", function(data, status){
        console.log(data)
        $('#sub').html(data.submission);
        $('#realtime').html(data.active);
        var table = document.getElementById("subtable");
        var table1 = document.getElementById("actable");
        table1.innerHTML = "";
        table.innerHTML = "";
        $('#loading').html("");
        $('#loadingw').html("");
        
        
        
        
        for(let i = 0; i < data.active; i++){
          var row = table.insertRow(0);
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          var cell4 = row.insertCell(3);
          var cell5 = row.insertCell(4);
          var taken_time = data.active_data[i]['Taken'];
          var days = Math.floor(taken_time*60 / (3600*24));
          var hours = Math.floor(taken_time / 60);      
          var minutes = Math.floor(taken_time % 60);

          cell1.className = "user-avatar cell-detail user-info";
          cell1.innerHTML = '<img src="http://127.0.0.1:8000/static/admin/assets/img/avatar.png" alt="Avatar"><span>'+ data.active_data[i]['FullName'] +'</span><span class="cell-detail-description">'+ data.active_data[i]['Enroll-No'] +'</span>';
          cell2.className = " milestone";
          cell2.innerHTML = '<span class="completed">'+ data.active_data[i]['Current'] +' / '+data.active_data[i]['Total']+'</span><span class="version">Progress</span> <div class="progress"> <div class="progress-bar progress-bar-primary" style="width: '+ data.active_data[i]['Current'] / data.active_data[i]['Total'] * 100 +'%;"></div> </div>';
          cell4.className = " cell-detail";
          cell4.innerHTML = ' <span > '+days+':'+ hours +':' +minutes + ' </span><span class="cell-detail-description">Time Taken(D:H:M)</span>';
          
          cell3.className = " cell-detail";
          cell3.innerHTML = ' <span>'+ data.active_data[i]['Started'] +'</span><span class="cell-detail-description">Start Time</span>';
          
          cell5.className = " cell-detail";
          if(data.active_data[i]['Attendance'] == true){
            var checked = "checked"
          }else{
            var checked = ""
          }
          cell5.innerHTML = '<div class="switch-button switch-button-xs switch-button-yesno"> <input type="checkbox" onclick="attendace('+ data.active_data[i]['ExamSession'] +')" '+checked+' name="swt1" id="'+ data.submission_data[i]['ExamSession'] +'"><span> <label for="'+ data.submission_data[i]['ExamSession'] +'"></label></span> </div>';
   
       }

       for(let ii = 0; ii < data.submission; ii++){
        var row1 = table1.insertRow(0);
        var cell1 = row1.insertCell(0);
        var cell2 = row1.insertCell(1);
        var cell3 = row1.insertCell(2);
        var cell4 = row1.insertCell(3);
        var cell5 = row1.insertCell(4);
        var cell6 = row1.insertCell(5);
        
        cell1.className = "user-avatar cell-detail user-info";
        cell1.innerHTML = '<img src="http://127.0.0.1:8000/static/admin/assets/img/avatar.png" alt="Avatar"><span>'+ data.submission_data[ii]['FullName'] +'</span><span class="cell-detail-description">'+ data.submission_data[ii]['Enroll-No'] +'</span>';
        cell2.className = " milestone";
        cell2.innerHTML = '<span class="completed">'+ data.submission_data[ii]['Scored'] +' / '+data.submission_data[ii]['TotalMarks']+'</span><span class="version">'+data.submission_data[ii]['Result_Status'].toUpperCase() + '</span> <div class="progress"> <div class="progress-bar progress-bar-primary" style="width: '+ data.submission_data[ii]['Scored'] / data.submission_data[ii]['TotalMarks'] * 100 +'%;"></div> </div>';
        cell4.className = " cell-detail";
        cell4.innerHTML = ' <span > '+data.submission_data[ii]['Submitted'] + ' </span><span class="cell-detail-description">Submission Time</span>';
        
        cell3.className = " cell-detail";
        cell3.innerHTML = ' <span>'+ data.submission_data[ii]['Started'] +'</span><span class="cell-detail-description">Start Time</span>';
        
        cell5.className = " cell-detail";
        if(data.submission_data[ii]['Attendance'] == true){
          var checked = "checked"
        }else{
          var checked = ""
        }
        cell5.innerHTML = '<div class="switch-button switch-button-xs switch-button-yesno"> <input type="checkbox" onclick="attendace('+ data.submission_data[ii]['ExamSession'] +')" '+checked+' name="'+ data.submission_data[ii]['ExamSession'] +'" id="'+ data.submission_data[ii]['ExamSession'] +'"><span> <label for="'+ data.submission_data[ii]['ExamSession'] +'"></label></span> </div>';
 
     

        cell6.className = " cell-detail";
        cell6.innerHTML = '<a class="btn btn-warning btn-sm" href="/admin-panel/report/exam/submission/session/'+ data.submission_data[ii]['ExamSession'] +'">View Report</a>';
      }

      });

    }, 5000);
     

    function attendace(id){
      console.log(id);
      if ($("#"+id).is(':checked')) {
        var c = true;
      } else {
        var c = false;
    }

   
    console.log(c);
    }
      $(document).ready(function(){
      	App.init();
      });
    </script>
  </body>
</html>