{%  load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{setting_obj.favicon}}">
    <title>{{exam.test_name}} - Test Report </title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jqvmap/jqvmap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" %}"/>
   <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/select2/css/select2.min.css" %}"/>
   
   <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/datatables/datatables.net-bs4/css/dataTables.bootstrap4.css" %}"/>
   <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/datatables/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" %}"/>
   <link rel="stylesheet" href="{% static "admin/assets/css/app.css" %}" type="text/css"/>
   <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/multiselect/css/multi-select.css" %}"/>
   <link rel="stylesheet" type="text/css"  href="{% static "admin/assets/lib/morrisjs/morris.css" %}"/>
    
  </head>
  <body>
        <div class="t">

               
                  <div class=" container-fluid">
                      
                  
    
                     <br>
                     <table class="">
                            <tbody class="">
                                <thead>
                                    <th>
                                        <td width="50%">
                                                <div class="card card-default">
                                                        <div class="card-header"> 
                                                          <div class="tools"><span class="icon s7-upload"></span><span class="icon s7-edit"></span><span class="icon s7-close"></span></div><span class="title">Submission Information</span>
                                                        </div>
                                                        <div class="card-body text-center">
                                                            
                                                                <div class="row col-md-12">  
                                                                        <div class="widget-chart-container col-md-4">
                                                                                    <div id="top-sales" style="height: 178px; padding: 0px; position: relative;"><canvas class="flot-base" width="294" height="178" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 294.328px; height: 178px;"></canvas><canvas class="flot-overlay" width="294" height="178" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 294.328px; height: 178px;"></canvas></div>
                                                                                    <div class="chart-pie-counter"><span id="">{{ratio}}</span><br><small style="font-size: 16px;">SUBMISSION RATIO(%)</small></div>
                                                                                 
                                                                                </div>
                                                                               
                                                                                    <div class="widget-chart-container col-md-4">
                                                                                        <div id="top-sales" style="height: 178px; padding: 0px; position: relative;"><canvas class="flot-base" width="294" height="178" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 294.328px; height: 178px;"></canvas><canvas class="flot-overlay" width="294" height="178" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 294.328px; height: 178px;"></canvas></div>
                                                                                        <div class="chart-pie-counter"><span id="sub">{{submission}}</span><br><small style="font-size: 16px;"> SUBMISSION</small></div>
                                                                                     
                                                                                    </div>
                                                                                    <div class="widget-chart-container col-md-4">
                                                                                            <div id="top-sales" style="height: 178px; padding: 0px; position: relative;"><canvas class="flot-base" width="294" height="178" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 294.328px; height: 178px;"></canvas><canvas class="flot-overlay" width="294" height="178" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 294.328px; height: 178px;"></canvas></div>
                                                                                            <div class="chart-pie-counter"><span id="sub">{{total_students}}</span><br><small style="font-size: 16px;"> TOTAL STUDENTS</small></div>
                                                                                         
                                                                                        </div>
                                
                                </div>
                                                        </div>
                                                      </div>

                                        </td>
                                        <td width="50%">
                                                <div class="user-info-list card">
                                                        <div class="card-header">Exam Information </div>
                                                        <div class="card-body">
                                                          <table class="no-border no-strip skills">
                                                             
                                                            <tbody class="no-border-x no-border-y">
                                                                <tr>
                                                                    <td class="icon"><span class="mdi mdi-case"></span></td>
                                                                    <td class="item"> Exam Name<span class="icon s7-portfolio"></span></td>
                                                                    <td>{{exam.test_name}} <span class="badge badge-primary">{{test.TestDifficulty}}</span> </td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td class="icon"><span class="mdi mdi-timer"></span></td>
                                                                      <td class="item"> Timing<span class="icon s7-portfolio"></span></td>
                                                                      <td>{{test_adv.DurationFrom}} - {{test_adv.DurationTo}} </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="icon"><span class="mdi mdi-shape"></span></td>
                                                                        <td class="item"> Category <span class="icon s7-shape"></span></td>
                                                                        <td><span class="">{{test.category_two}}</span>, <span class="">{{test.category_one}}</span>, <span class="">{{test.steam}}</span> </td>
                                                                      </tr>
                                                                    
                                                              <tr>
                                                                <td class="icon"><span class="mdi mdi-landscape"></span></td>
                                                                <td class="item"> Year / Branch<span class="icon s7-portfolio"></span></td>
                                                                <td>{{test.SCTSemester}} Yr/Sem, {{test.SCTBranch}} </td>
                                                              </tr>
                                                              <tr>
                                                                <td class="icon"><span class="mdi mdi-graduation-cap"></span></td>
                                                                <td class="item">Program<span class="icon s7-gift"></span></td>
                                                                <td>{{test.SCTSteam}}</td>
                                                              </tr>
                                                             </tbody>
                                                          </table>
                                                        </div>
                                                      </div> </td>
                                    </th>
                                </thead>
                               
                                  </tbody>
                                
                                </table>
                
                    <div class="row">
                            <div class="col-lg-12">
                               
                                
                                    <div class="card card-table">
                                      
                                        <div class="card-header">Top 5 Performer 
                                            
                                          </div>       
                                            <div class="table-responsive ">
                                                    <table class="table">
                                                            <thead>
                                                              <tr>
                                                                <th style="width:50%;">Name</th>
                                                                <th style="width:10%;"  class="number">Score</th>
                                                                <th style="width:10%;"  class="number">%</th>
                                                                <th style="width:10%;" class="number">Rank</th>
                                                              </tr>
                                                            </thead>
                                                            <tbody class="no-border-x">
                                                                {% for key, top in topper_data.items %}
                                                                <tr>
                                                                  <td class="user-avatar cell-detail user-info"> <img src="http://127.0.0.1:8000/static/admin/assets/img/avatar.png" alt="Avatar">{{top.FullName}}<span class="cell-detail-description">{{top.EnrollNo | upper}}</span></td>
                                                                  <td class="milestone"><span class="completed">{{top.Scored}} / {{top.TotalMarks}}</span><span class="version">{{top.Result_Status | upper}}</span>
                                                                    <div class="progress">
                                                                      <div class="progress-bar progress-bar-primary" style="width: {{top.per}}%;"></div>
                                                                    </div>
                                                                  </td>
                                                                  <td class="number">{{top.per}}%</td>
                                                                  <td class="number"><b>{{key}}</b></td>
                                                                </tr>
                                                                {% endfor %}
                                                              </tbody>
                                                          </table>
                                                </div>
                                    </div>
                            </div>
                            <div class="col-lg-12">
                               
                                
                                    <div class="card card-table">
                                      
                                        <div class="card-header">All Submissions 
                                            
                                          </div>       
                                            <div class="table-responsive ">
                                              <table class="table table-striped table-hover table-fw-widget" id="table3">
                                                    <thead>
                                                            <tr>
                                                              <th>Student Name </th>
                                                              <th>Status</th>
                                                              <th>Attent Time</th>
                                                              <th>Submit Time</th>
                                                              <th>Correct vs Wrong</th>
                                                              <th>Attendance</th>
                                                            </tr>
                                                          </thead>
                                                <tbody>
                                                  {% for key, sub in submission_data.items %}
                                                  <tr>
                                                    
                                                    <td class="user-avatar cell-detail user-info"><img src="http://127.0.0.1:8000/static/admin/assets/img/avatar.png" alt="Avatar"><span>{{sub.FullName}}</span><span class="cell-detail-description">{{sub.EnrollNo | upper}}</span></td>
                                                    <td class="milestone"><span class="completed">{{sub.Scored}} / {{sub.TotalMarks}}</span><span class="version">{{sub.Result_Status | upper}}</span>
                                                      <div class="progress">
                                                        <div class="progress-bar progress-bar-primary" style="width: {{sub.per}}%;"></div>
                                                      </div>
                                                    </td>
                                                    <td class="cell-detail"> <span>{{sub.Started}}</span></td>
                                                    <td class="cell-detail"> <span class="text-bold">{{sub.Submitted}}</span></td>
                                                    <td class="cell-detail"> <span class="text-bold">{{sub.correct}} ,  {{sub.wrong}}</span></td>
                                                    
                                                    <td class="cell-detail">

                                                            {% if sub.Attendance %} 
                                                            
                                                            <b>in-Campus</b> 
                                                            
                                                            {% else %}

                                                            <b>out-Campus</b>

                                                            {% endif %}

                                                    </td>
                                                    
                                                 
                                                  
                                                </tr>
    {% endfor %}
                                                
    
    
                                                        
    
                                                          
                                                             
                                               
                                     
                                                </tbody>
                                              </table>
                                      
                                          </div>
                                    </div>
                                  </div>
                              
                        
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                            <p class=" col-md-12  text-right">Authority Signatory</p>
                          </div>
                      
            </div>
            
          </div>

         
    <script src="{% static "admin/assets/lib/jquery/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/js/app.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.pie.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.time.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.resize.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/jquery.flot.orderBars.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/curvedLines.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/jquery.flot.tooltip.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/chartjs/Chart.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/countup/countUp.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/raphael/raphael.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/morrisjs/morris.min.js" %}"  type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/datatables/datatables.net/js/jquery.dataTables.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/datatables/datatables.net-bs4/js/dataTables.bootstrap4.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/datatables/datatables.net-buttons/js/dataTables.buttons.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/datatables/datatables.net-buttons/js/buttons.flash.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/datatables/jszip/jszip.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/datatables/pdfmake/pdfmake.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/datatables/pdfmake/vfs_fonts.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/datatables/datatables.net-buttons/js/buttons.colVis.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/datatables/datatables.net-buttons/js/buttons.print.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/datatables/datatables.net-buttons/js/buttons.html5.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/datatables/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/datatables/datatables.net-responsive/js/dataTables.responsive.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/datatables/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js" %}" type="text/javascript"></script>
    
    <script type="text/javascript">
      

      $(document).ready(function(){
      
        //$(".select2").select2();
      	//-initialize the javascript
        App.init();
      
        var e, t, i, o, n, a, r, l, s, c, d, u, p, h, f, g, m, b, v = {
          assetsPath: "assets",
          imgPath: "img",
          jsPath: "js",
          libsPath: "lib",
          leftSidebarSlideSpeed: 200,
          leftSidebarToggleSpeed: 300,
          enableLeftSidebar: !0,
          enableSwipe: !0,
          swipeTreshold: 100,
          scrollTop: !0,
          openRightSidebarClass: "open-right-sidebar",
          openLeftSidebarClass: "open-left-sidebar",
          disabledLeftSidebarClass: "be-left-sidebar-disabled",
          offCanvasLeftSidebarClass: "be-offcanvas-menu",
          offCanvasLeftSidebarMobileClass: "be-offcanvas-menu-sm",
          topHeaderMenuClass: "be-top-menu",
          closeRsOnClickOutside: !0,
          removeLeftSidebarClass: "be-nosidebar-left",
          collapsibleSidebarClass: "be-collapsible-sidebar",
          collapsibleSidebarCollapsedClass: "be-collapsible-sidebar-collapsed",
          openLeftSidebarOnClick: !0,
          transitionClass: "be-animate",
          openSidebarDelay: 400
      },
      w = {},
      k = {};
 
      n = App.color.warning, a = App.color.success, r = App.color.primary, Morris.Donut({
        element: "pie-chart4",
        data: [{
            label: "Submissions",
            value: {{submission}}
        }, {
            label: "Total Students",
            value: {{total_students}}
        }],
        colors: [n, a, r],
        formatter: function(e) {
            return e
        }
    })

      });
    </script>
  </body>
</html>