{%  load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{setting_obj.favicon}}">
    <title>Beagle</title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jqvmap/jqvmap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/summernote/summernote-bs4.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/dropzone/dropzone.css" %}"/>
    <link rel="stylesheet" href="{% static "admin/assets/css/app.css" %}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jquery.gritter/css/jquery.gritter.css" %}"/>
    <script src="https://kit.fontawesome.com/c0f58a3ab3.js"></script>
    <script src="{% static "admin/assets/lib/jquery/jquery.min.js" %}" type="text/javascript"></script>
  </head>
  <body>
    <div class="be-wrapper be-offcanvas-menu be-fixed-sidebar">
      <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
          <a class="nav-link be-toggle-left-sidebar" href="#"><span class="icon mdi mdi-menu"></span></a>
          
          <div class="page-title">{% if setting_obj.logo != ''%} <img style="height:30px;" src="{{setting_obj.logo}}"> {% else %}  <span><i>Top Academy</i></span>  {% endif %}</div>
          <div class="be-right-navbar">
            <ul class="nav navbar-nav float-right be-user-nav">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{% static "admin/assets/img/avatar.png"%}"" alt="Avatar"><span class="user-name">{{user_login.first_name}}</span></a>
                <div class="dropdown-menu" role="menu">     
                  <div class="user-info">
                    <div class="user-name">{{user_login.first_name}}</div>
                    <div class="user-position online">Available</div>
                  </div><a class="dropdown-item" href="/admin-panel/account"><span class="icon mdi mdi-face"></span>My Account</a><a class="dropdown-item" href="/admin-panel/settings"><span class="icon mdi mdi-settings"></span>Settings</a><a class="dropdown-item" href="/admin-panel/logout"><span class="icon mdi mdi-power"></span>Logout</a>
                </div>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">Dashboard</a>
          <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
              <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                  <li class="divider">Menu</li>
                  
                  <li class=" active"><a href="#"><i class="icon mdi mdi-face"></i><span>Dashboards</span></a>
                   </li>

                  <li class="parent"><a href="charts.html"><i class="icon mdi mdi-chart-donut"></i><span>Test Bank</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/add/test">New Test</a>
                      </li>
                      
                      <li><a href="/admin-panel/test/">Manage Test</a>
                      </li>

                      <li><a href="/admin-panel/test/">Test Action</a>
                      </li>
                     
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-dot-circle"></i><span>Learning</span></a>
                    <ul class="sub-menu">
                      
                      <li><a href="/admin-panel/post/add">New Post</a>
                      </li>
                      <li><a href="/admin-panel/post/">My Posts</a>
                      </li>
                    </ul>
                  </li>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-border-all"></i><span>Manage Users</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/students/">Students</a>
                      </li>

                      <li><a href="/admin-panel/staff/add">Staff</a>
                      </li>

                      <li><a href="/admin-panel/user/admin">Admin</a>
                      </li>
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-chart"></i><span>Reports</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/report/test">Test Report</a>
                      </li>

                      <li><a href="/admin-panel/report/exam">Exam Report</a>
                      </li>

                      <li><a href="/admin-panel/report/staff">Saff Activity</a>
                      </li>
                    </ul>
                  </li>

                  
                  <li class="parent"><a href="#"><i class="icon mdi mdi-dot-circle"></i><span>Account</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/account">My Account</a></li>
                    </ul>
                  </li>
                  <li class="divider">Other</li>
                  
                  <li class="parent"><a href="charts.html"><i class="icon mdi mdi-chart-donut"></i><span>Setup Website</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/steam">Question Bank Categories</a>
                      </li>
                      <li><a href="/admin-panel/branch"> College Programmes</a>
                      </li>
                      
                      <li><a href="/admin-panel/settings">Website Settings</a>
                      </li>
                     
                    </ul>
                  </li>
                  <li><a href="/admin-panel/announcement"><i class="icon mdi mdi-inbox"></i><span>Announcements</span></a>
                    
                  </li>
               
                  <li><a href="/admin-panel/session/"><i class="icon mdi mdi-assignment-account"></i><span>Session Manager</span></a>
                  </li>
                  <li><a href="/admin-panel/docs"><i class="icon mdi mdi-book"></i><span>Website Manual</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="be-content">
        <div class="main-content container-fluid">
            {% if messages %}


            {% for message in messages %}

            
            
            <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button>
                <div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
                <div class="message">{{message}}</div>
              </div>


        
            {% endfor %}
         {% endif %}

  <div class="row">
<div class="col-md-8">
<form method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-header"><div class="">
<input name="title" class="form-control form-control-lg" placeholder="Title" id="inputLarge" type="text" value="{{edit.title}}">
<br>
<textarea name="desc" class="form-control form-control-xs" placeholder="Description" id="inputExtraSmall" value="" type="text">{{edit.description}}</textarea>
          </div>
        
        </div>
      
      </div>
      <div class="">
            <div class="card card-border-color card-border-color-primary">
              <div class="card-header ">Post Content</div>
              <div class="card-body">
                    <textarea id="post-content" name="content"> {{edit.content}} </textarea>
                
                </div>
            </div>
          </div>
</div>
          <div class="col-md-4">

             <p class="">
                <button type="submit" name="publish" class="btn btn-space btn-success btn-lg"><i class="icon icon-left mdi mdi-rss"></i> Publish</button>
                <button type="submit" name="draft" class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-archive"></i> Draft</button>
                
              </p>
              <div class="card card-border-color card-border-color-success">
                    
                    <div id="div_high"  class="card-body">

                      {% if edit.status %}

                        <div class="form-group row pt-2 pb-1">
                            <label class="col-12 col-sm-2 col-form-label text-sm-right">Status : </label>
                            <div class="col-12  col-lg-4 mt-2">
                              <div class="">
                                 <label class="text-info text-bold" for="check9">{{edit.status}}</label>
                              </div>
                              
                             
                            </div>
                            <small class="col-md-12">
                              <span class="badge badge-primary">{{edit.categoryOne}}</span>
                              <span class="badge badge-primary">{{edit.categoryTwo}}</span>
                              <span class="badge badge-primary">{{edit.categoryThree}}</span>
                          </small>
                          </div>

                          {% endif %}
                        <div class="form-group row">
                             <div class="col-12">
                                <input id="pr" type="hidden" value="{{edit.SCP_program}}" name="pr">
                                <input id="br" type="hidden" value="{{edit.SCP_branch}}" name="br">
                                <input id="sm" type="hidden" value="{{edit.SCP_semester}}" name="sm">
                               
                              <div class="custom-control custom-checkbox">
                                <input {% if scp %} checked {% endif %} name="isSCT" class="custom-control-input" type="checkbox" onclick="sct()" id="check3">
                                <label class="custom-control-label" for="check3">Specific Class Post</label>
                              </div>
                            
                           
                            </div>
                          </div>
                          <div class="load_ajax_here">
 
 {% if scp == True %}
                            <div class="form-group row pt-1">
                                                <label class="col-md-12">Programm</label>
                                                <div class="col-md-12">
                                                  <select name="degree_sct" id="steam" class="form-control">
                           
                                                    <option disabled="" selected="">Select Degree</option>
                                                    {% for brn in scp_det.program %}
                                                    <option {% if brn.degree_name == edit.SCP_program %} selected {% endif %} value="{{brn.degree_name}}">{{brn.degree_name}}</option>
                                                    
                                                    {%endfor%}
                                                    
                                                   
                                                 
                                                    
                                                  </select>
                                                </div>
                           </div>
                           <script>
                               function bsdg(vale){
                                 $('#sm').val(vale);
                               }
                             </script>
                           
                           
                           
                           
                           
                            <div class="form-group row pt-1">
                                   <label class="col-md-12">Branch</label>
                                   <div class="col-md-12">
                                        <select onchange="bsdg(this.value)" name="branch_sct" class="form-control">
                           
                                                    <option disabled="" selected="">Select Branch</option>
                                                    {% for brn in scp_det.branch %}
                                                    <option {% if brn.branch_name == edit.SCP_branch %} selected {% endif %} value="{{brn.branch_name}}">{{brn.branch_name}}</option>
                                                    
                                                    {%endfor%}   
                                                  </select>
                                                </div>
                                              </div>
                                              <div class="form-group row pt-1">
                                               <label class="col-12 ">Year / Semester</label>
                                               <div class="col-12">
                                                 <select onchange="bsg(this.value)" name="semester_sct" class="form-control">
                           
                                                   <option disabled="" selected="">Select Year/Sem</option>
                                                   
                                                    {% for brn in scp_det.sems %}
                                                    
                                                    <option {% if brn == edit.SCP_semester %} selected {% endif %} value="{{brn}}">{{brn}}</option>
                                                    
                                                    {%endfor%}   
                                                    
                                                 </select>
                                               </div>
                                             </div>
                                             <script>
                                                 function bsg(vale){
                                                   $('#sm').val(vale);
                                                 }
                                                 function bsdg(vale){
                                                   $('#br').val(vale);
                                                 }
                                               </script>
                           
                           
                               
                           <div id="dsjkbhds"></div>
                               
                           <script type="text/javascript">
                           $('#steam').on('change', function() {
                             $('#pr').val(this.value);
                            var loader = "<p class='text-center'><img height='60px' src='/static/admin/assets/ajax.gif'/></p>";
                           $('.dsjkbhds').html(loader);
                            $.ajax({
                                      url: "/admin-panel/post/test/ajax/true/l/"+this.value,
                                      context: document.body
                                    }).done(function(data) {
                                      $('.load_ajax_here').html(data);
                           
                                      
                                    });
                           });
                           
                           </script>
                          {% endif %}
                          </div>
                          
                          <div class="">
                              
                                  </div>

                                  <div>
                                    
                                        <div class="form-group row">
                                                <label class="col-12">Category</label>
                                                <div class="col-12 ">
                                                  <input id="sub_cat" type="hidden" name="sub_category">
                                                  <input id="second_level" type="hidden" name="second_sub_category">
                                                  <select name="category" onchange="steam_select(this)" class="form-control ">
                                                        <option value="">Select One </option>
                                                        {% for steam in steam_c %}
                                                         <option value="{{steam.steam_link_id}}"> {{steam.steam_name}} </option>
                                                        {% endfor %}
                                                         
                                                         
                                                        </select>
                                                </div>
                                            </div>
                                        <div class="ajax-steam">
                    
                                            </div>

                                  </div>
                      </div>
                  </div>
                  {% if edit_b == True %}
                  <div class="card">
                  <table class="table table-fw-widget card-body">
                    
                      <tbody>
                          {% for attach in attachment %}
                        <tr id="file{{attach.id}}">
                          <td> <i style="font-size:15px;" {% if attach.extension == "pdf" %} class="fa fa-file-pdf text-danger" {%elif attach.extension == "docx"%} class="fa fa-file-word text-primary" {%elif attach.extension == "pptx" %} class="fa fa-file-powerpoint text-warning"  {%elif attach.extension == "jpg" or attach.extension == "jpeg"%} class="fa fa-image"  {%elif attach.extension == "png"%} class="fa fa-file-pdf" {%elif attach.extension == "js" or attach.extension == "cpp" or attach.extension == "py" or attach.extension == "c"%} class="fa fa-file-code" {%else%} class="fa fa-file" {%endif%}></i> <a href="/media/upload_attachment/{{attach.upload}}"> {{attach.actual_filename}} </a></td>
                          <td  class="actions"><button type="button" onclick="delet_file({{attach.id}}, '{{attach.creation_session}}')" class="icon"><i class="mdi mdi-delete"></i></button></td>
                        </tr>
                    

                        {% endfor %}
                         
                        
                        
                      </tbody>
                    </table>
                  </div>
{% endif %}
                  <div class="card card-flat">
                      <div class="card-header">Attachment</div>

                      
                      <div class="card-body">
                          <div class="">
                              <form >
                                <div  id="my_drop" class="dropzone">
                                <div class="dz-message">
                                  <div class="icon" style="font-size:50px;"><span class="mdi mdi-cloud-upload"></span></div>
                                  <h3> Drag & Drop files here</h3>
                                  <div class="dropzone-mobile-trigger needsclick"></div>
                                </div>
                              </div>
                              </form>
                            </div>
                            <br>
                            <p>File once uploaded can only be deleted on editing page.</p>

                            <p>Error Response Codes</p>
                            
                          <p class="text-danger text-bold">* 499 - Server Error / File Not Uploaded<br>* 488 - File extension is not supported<br>* 487 - File size limit exceed (max 5 mb)</p>
                          
                          
                          </div>
                    </div>   
</div>
</div>

</form>
        </div>
      </div>
      
    </div>
    
    <script src="{% static "admin/assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/js/app.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.pie.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.time.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.resize.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/jquery.flot.orderBars.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/curvedLines.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/jquery.flot.tooltip.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery.sparkline/jquery.sparkline.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/countup/countUp.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-ui/jquery-ui.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jqvmap/jquery.vmap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jqvmap/maps/jquery.vmap.world.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/summernote/summernote-bs4.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/summernote/summernote-ext-beagle.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/dropzone/dropzone.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery.gritter/js/jquery.gritter.js" %}" type="text/javascript"></script>
    <script type="text/javascript">

   
      //var myDropzone = new Dropzone("#my-awesome-dropzone", { url: "/file/post"});

      $("#my_drop").dropzone({ 
        paramName: "file", 
        maxFilesize: 5,
        headers: {
          'X-CSRFToken': "{{ csrf_token }}"
        },
        url: "/admin-panel/post/upload/{{session_post}}"
       });


        var currentsct = {% if scp %} true {% else %} false {% endif %};
        function sct(){
           if (currentsct == false){currentsct =  true;}else{currentsct = false;}
        var loader = "<p class='text-center'><img height='60px' src='/static/admin/assets/ajax.gif'/></p>";

        $('.load_ajax_here').html(loader);
          $.ajax({
            url: "/admin-panel/post/test/ajax/"+currentsct+"/l/no",
            context: document.body
          }).done(function(data) {
            $('.load_ajax_here').html(data);

            
          });

        }

        function steam_select(e){
       
            var loader = "<p class='text-center'><img height='60px' src='/static/admin/assets/ajax.gif'/></p>";
     
             $('.ajax-steam').html(loader);
               $.ajax({
                 url: "/admin-panel/post/ajax/steam/"+e.value,
                 context: document.body
               }).done(function(dataa) {
                 $('.ajax-steam').html(dataa);
               });
     
     
     }

     function delet_file(id, ses){

      $.gritter.add({text:"Deleting file.",class_name:"color dark"});
        $.ajax({
          url: "/admin-panel/post/ajax/del_file/"+id+"/"+ses,
          context: document.body
        }).done(function(dataa) {
          console.log(dataa);

          if (dataa.status == "Ok"){
            $.gritter.add({text:dataa.msg,class_name:"color success"});
            $("#file"+id).remove();

          }else{
            $.gritter.add({text:dataa.msg,class_name:"color danger"});

          }
         
        });
     

     }

        $(document).ready(function(){
            //-initialize the javascript
            App.init();
          
            $("#post-content").summernote({height:700});
 
        });
      </script>
  </body>
</html>