{%  load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{setting_obj.favicon}}">
    <title>Stream Edit - Admin</title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jqvmap/jqvmap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" %}"/>
    <link rel="stylesheet" href="{% static "admin/assets/css/app.css" %}" type="text/css"/>
  </head>
  <body>
    <div class="be-wrapper be-fixed-sidebar">
      <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
          <div class=""><a class="navbar-brand" href="/student/"></a>
          </div>
          <div class="page-title">{% if setting_obj.logo != ''%} <img style="height:30px;" src="{{setting_obj.logo}}"> {% else %}  <span><i>Top Academy</i></span>  {% endif %}</div>
          <div class="be-right-navbar">
            <ul class="nav navbar-nav float-right be-user-nav">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{% static "admin/assets/img/avatar.png"%}" alt="Avatar"><span class="user-name">{{user_login.first_name}}</span></a>
                <div class="dropdown-menu" role="menu">     
                  <div class="user-info">
                    <div class="user-name">{{user_login.first_name}}</div>
                    <div class="user-position online">Available</div>
                  </div><a class="dropdown-item" href="/admin-panel/account"><span class="icon mdi mdi-face"></span>My Account</a><a class="dropdown-item" href="/admin-panel/settings"><span class="icon mdi mdi-settings"></span>Settings</a><a class="dropdown-item" href="/admin-panel/logout"><span class="icon mdi mdi-power"></span>Logout</a>
                </div>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">Dashboard</a>
          <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
              <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                  <li class="divider">Menu</li>
                  
                  <li class=" active"><a href="#"><i class="icon mdi mdi-face"></i><span>Dashboards</span></a>
                   </li>

                  <li class="parent"><a href="charts.html"><i class="icon mdi mdi-chart-donut"></i><span>Test Bank</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/add/test">New Test</a>
                      </li>
                      
                      <li><a href="/admin-panel/test/">Manage Test</a>
                      </li>

                      <li><a href="/admin-panel/test/">Test Action</a>
                      </li>
                     
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-dot-circle"></i><span>Learning</span></a>
                    <ul class="sub-menu">
                      
                      <li><a href="/admin-panel/post/add">New Post</a>
                      </li>
                      <li><a href="/admin-panel/post/">My Posts</a>
                      </li>
                    </ul>
                  </li>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-border-all"></i><span>Manage Users</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/students/">Students</a>
                      </li>

                      <li><a href="/admin-panel/staff/add">Staff</a>
                      </li>

                      <li><a href="/admin-panel/user/admin">Admin</a>
                      </li>
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-chart"></i><span>Reports</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/report/test">Test Report</a>
                      </li>

                      <li><a href="/admin-panel/report/exam">Exam Report</a>
                      </li>

                      <li><a href="/admin-panel/report/staff">Saff Activity</a>
                      </li>
                    </ul>
                  </li>

                  
                  <li class="parent"><a href="#"><i class="icon mdi mdi-dot-circle"></i><span>Account</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/account">My Account</a></li>
                    </ul>
                  </li>
                  <li class="divider">Other</li>
                  
                  <li class="parent"><a href="charts.html"><i class="icon mdi mdi-chart-donut"></i><span>Setup Website</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/steam">Question Bank Categories</a>
                      </li>
                      <li><a href="/admin-panel/branch"> College Programmes</a>
                      </li>
                      
                      <li><a href="/admin-panel/settings">Website Settings</a>
                      </li>
                     
                    </ul>
                  </li>
                  <li><a href="/admin-panel/announcement"><i class="icon mdi mdi-inbox"></i><span>Announcements</span></a>
                    
                  </li>
               
                  <li><a href="/admin-panel/session/"><i class="icon mdi mdi-assignment-account"></i><span>Session Manager</span></a>
                  </li>
                  <li><a href="/admin-panel/docs"><i class="icon mdi mdi-book"></i><span>Website Manual</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="be-content">
        <div class="main-content container-fluid">
            {% if messages %}


            {% for message in messages %}

            
            
              <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button>
                <div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
                <div class="message">{{message}}</div>
              </div>


        
            {% endfor %}
         {% endif %}

                <div class="row">
                      
                        <div class="col-lg-12">
                          <div class="card card-table">
                            <div class="card-header card-header-divider">Steam Managment<span class="card-subtitle">Link subjects, courses or branch for the Steam</span></div>
                            <div class="card-body">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th style="width:30%;">Steam Type</th>
                                    <th style="width:30%;">Date</th>
                                    <th style="width:30%;" class="number">Status</th>
                                    <th class="actions"></th>
                                  </tr>
                                </thead>
                                <tbody>

                                    

                                  <tr>
                                    <td><a href="#">{{steam.steam_name}}</a></td>
                                    <td>{{steam.date}}</td>
                                    <td class="number">{{steam.steam_status}}</td>
                                    
                                    <td class="actions">
                                      
                                      <a class="icon" href="/admin-panel/steam/delete/{{steam.id}}"><i class="mdi mdi-delete"></i></a> 

                                  
                                    </td>
                                  </tr>
                             
                                 
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                     {% if steam.steam_status != "Configured" %}
                        <div class="col-lg-12">
                                <form method="POST" action="/admin-panel/steam/edit/{{steam.id}}">
                                                {% csrf_token %}
                                        
                                                <div class="card card-border-color card-border-color-primary">
                                                        <div class="card-header card-header-divider">Configure Steam</div>
                                                        <div class="card-body">
                                                                <div class="row">   
                                       
                                            <div class=" col-md-6 form-group row pt-1 pb-1">
                                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Steam Level</label>
                                                <div class="col-12 col-sm-8 col-lg-6 form-check mt-1">
                                                  <label class="custom-control custom-radio">
                                                    <input onchange="level_ajax()" class="custom-control-input" type="radio" name="level_type"  value="1"><span class="custom-control-label">Single Level</span>
                                                  </label>
                                                  <label class="custom-control custom-radio">
                                                    <input onchange="level_ajax()"  class="custom-control-input" type="radio" name="level_type" value="2"><span class="custom-control-label">Double Level</span>
                                                  </label>
                                                  <label class="custom-control custom-radio">
                                                    <input onchange="level_ajax()" disabled  class="custom-control-input" type="radio" value="3" name="level_type"><span class="custom-control-label">Triple Level</span>
                                                  </label>
                                                </div>
                                            </div>  
                                            <div class="help-block col-md-6"><b>Single Level : </b><p>Single Level topic like History, Science etc</p><b>Double Level : </b><p>Double Level topic like CSE (branch) : DBMS (subject), Computer Vision (subject)</p><b>Triple Level : </b><p>Triple Level topic like CSE (branch) : DBMS (subject) =>  ACID (unit)</p></div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="load_steam_ajax_here">
                                       
                                    </div>
                                    </form>
                                </div>


                      </div>

                      {% endif %}
        </div>
      </div>
      
    </div>
    <script src="{% static "admin/assets/lib/jquery/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/js/app.js" %}" type="text/javascript"></script>
 
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/curvedLines.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/jquery.flot.tooltip.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery.sparkline/jquery.sparkline.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/countup/countUp.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-ui/jquery-ui.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jqvmap/jquery.vmap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jqvmap/maps/jquery.vmap.world.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
      
      $(document).ready(function(){
       
      	//-initialize the javascript
      	App.init();
       
       
      });
      function level_ajax(){

        var loader = "<p class='text-center'><img height='60px' src='/static/admin/assets/ajax.gif'/></p>";

        $('.load_steam_ajax_here').html(loader);


        var level =   $('input[name="level_type"]:checked').val();
        $.ajax({
            url: "/admin-panel/steam/ajax/"+level,
            context: document.body
          }).done(function(data) {
            $('.load_steam_ajax_here').html(data);

            
          });
    
      }
    </script>
  </body>
</html>