{%  load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{setting_obj.favicon}}">
    <title>Stream Managemnet - Admin</title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jqvmap/jqvmap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" %}"/>
    <link rel="stylesheet" href="{% static "admin/assets/css/app.css" %}" type="text/css"/>
  </head>
  <body>
    <div class="be-wrapper be-fixed-sidebar">
      <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
          <div class=""><a class="navbar-brand" href="/student/"></a>
          </div>
          <div class="page-title">{% if setting_obj.logo != ''%} <img style="height:30px;" src="{{setting_obj.logo}}"> {% else %}  <span><i>Top Academy</i></span>  {% endif %}</div>
          <div class="be-right-navbar">
            <ul class="nav navbar-nav float-right be-user-nav">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{% static "admin/assets/img/avatar.png"%}"" alt="Avatar"><span class="user-name">{{user_login.first_name}}</span></a>
                <div class="dropdown-menu" role="menu">     
                  <div class="user-info">
                    <div class="user-name">{{user_login.first_name}}</div>
                    <div class="user-position online">Available</div>
                  </div><a class="dropdown-item" href="/admin-panel/account"><span class="icon mdi mdi-face"></span>My Account</a><a class="dropdown-item" href="/admin-panel/settings"><span class="icon mdi mdi-settings"></span>Settings</a><a class="dropdown-item" href="/admin-panel/logout"><span class="icon mdi mdi-power"></span>Logout</a>
                </div>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="/admin-panel/">Dashboard</a>
          <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
              <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                  <li class="divider">Menu</li>
                  
                  <li class=" active"><a href="/admin-panel/"><i class="icon mdi mdi-face"></i><span>Dashboards</span></a>
                   </li>

                  <li class="parent"><a href="charts.html"><i class="icon mdi mdi-chart-donut"></i><span>Test Bank</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/add/test">New Test</a>
                      </li>
                      
                      <li><a href="/admin-panel/test/">Manage Test</a>
                      </li>

                      <li><a href="/admin-panel/test/">Test Action</a>
                      </li>
                     
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-dot-circle"></i><span>Learning</span></a>
                    <ul class="sub-menu">
                      
                      <li><a href="/admin-panel/post/add">New Post</a>
                      </li>
                      <li><a href="/admin-panel/post/">My Posts</a>
                      </li>
                    </ul>
                  </li>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-border-all"></i><span>Manage Users</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/students/">Students</a>
                      </li>

                      <li><a href="/admin-panel/staff/add">Staff</a>
                      </li>

                      <li><a href="/admin-panel/user/admin">Admin</a>
                      </li>
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-chart"></i><span>Reports</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/report/test">Test Report</a>
                      </li>

                      <li><a href="/admin-panel/report/exam">Exam Report</a>
                      </li>

                      <li><a href="/admin-panel/report/staff">Saff Activity</a>
                      </li>
                    </ul>
                  </li>

                  
                  <li class="parent"><a href="#"><i class="icon mdi mdi-dot-circle"></i><span>Account</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/account">My Account</a></li>
                    </ul>
                  </li>
                  <li class="divider">Other</li>
                  
                  <li class="parent"><a href="charts.html"><i class="icon mdi mdi-chart-donut"></i><span>Setup Website</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/steam">Question Bank Categories</a>
                      </li>
                      <li><a href="/admin-panel/branch"> College Programmes</a>
                      </li>
                      
                      <li><a href="/admin-panel/settings">Website Settings</a>
                      </li>
                     
                    </ul>
                  </li>
                  <li><a href="/admin-panel/announcement"><i class="icon mdi mdi-inbox"></i><span>Announcements</span></a>
                    
                  </li>
               
                  <li><a href="/admin-panel/session/"><i class="icon mdi mdi-assignment-account"></i><span>Session Manager</span></a>
                  </li>
                  <li><a href="/admin-panel/docs"><i class="icon mdi mdi-book"></i><span>Website Manual</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="be-content">
        <div class="main-content container-fluid">
            {% if messages %}


            {% for message in messages %}

            
            
            <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button>
                <div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
                <div class="message">{{message}}</div>
              </div>


        
            {% endfor %}
         {% endif %}

                <div class="row">
                        <div class="col-lg-4">
                          <div class="card card-border-color card-border-color-primary">
                            <div class="card-header card-header-divider">Add Steam<span class="card-subtitle">Add a steam</span></div>
                            <div class="card-body">
                              <form method="POST" action="/admin-panel/steam">
                                  {% csrf_token %}
                                <div class="form-group pt-2">
                                  <label for="inputEmail">Steam Type</label>
                                <input type="text" name="type" class="form-control form-control-lg">
                                </div>
                                
                                 <div class="row pt-3">
                                
                                  <div class="col-sm-12">
                                    <p class="text-right">
                                      <button class="btn btn-space btn-primary" type="submit">Add New</button>
                                    </p>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-8">
                          <div class="card card-table">
                            <div class="card-header card-header-divider">Steam Managment<span class="card-subtitle">Link subjects, courses or branch for the Steam</span></div>
                            <div class="card-body">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th style="width:30%;">Steam Type</th>
                                    <th style="width:30%;">Date</th>
                                    <th style="width:30%;" class="number">Status</th>
                                    <th class="actions"></th>
                                  </tr>
                                </thead>
                                <tbody>

                                    {% for steam_got in steam %}

                                  <tr>
                                    <td><a href="/admin-panel/steam/edit/{{steam_got.id}}">{{steam_got.steam_name}}</a></td>
                                    <td>{{steam_got.date}}</td>
                                    <td class="number">{{steam_got.steam_status}}</td>
                                    
                                    <td class="actions">
                                      
                                      <a class="icon" href="/admin-panel/steam/delete/{{steam_got.id}}"><i class="mdi mdi-delete"></i></a> 

                                  
                                    </td>
                                  </tr>
                                  {% endfor %}
                                 
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
        </div>
      </div>
      
    </div>
    <script src="{% static "admin/assets/lib/jquery/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/js/app.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.pie.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.time.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.resize.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/jquery.flot.orderBars.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/curvedLines.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/jquery.flot.tooltip.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery.sparkline/jquery.sparkline.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/countup/countUp.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-ui/jquery-ui.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jqvmap/jquery.vmap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jqvmap/maps/jquery.vmap.world.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      	//-initialize the javascript
      	App.init();
      	App.dashboard();
      
      });
    </script>
  </body>
</html>