{%  load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{setting_obj.favicon}}">
    <title>Beagle</title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jqvmap/jqvmap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" %}"/>
    <link rel="stylesheet" href="{% static "admin/assets/css/app.css" %}" type="text/css"/>
  </head>
  <body>
    <div class="be-wrapper be-fixed-sidebar">
      <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
          <div class=""><a class="navbar-brand" href="/student/"></a>
          </div>
          <div class="page-title">{% if setting_obj.logo != ''%} <img style="height:30px;" src="{{setting_obj.logo}}"> {% else %}  <span><i>Top Academy</i></span>  {% endif %}</div>
          <div class="be-right-navbar">
            <ul class="nav navbar-nav float-right be-user-nav">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{% static "admin/assets/img/avatar.png"%}"" alt="Avatar"><span class="user-name">{{user_login.first_name}}</span></a>
                <div class="dropdown-menu" role="menu">     
                  <div class="user-info">
                    <div class="user-name">{{user_login.first_name}}</div>
                    <div class="user-position online">Available</div>
                  </div><a class="dropdown-item" href="/admin-panel/account"><span class="icon mdi mdi-face"></span>My Account</a><a class="dropdown-item" href="/admin-panel/settings"><span class="icon mdi mdi-settings"></span>Settings</a><a class="dropdown-item" href="/admin-panel/logout"><span class="icon mdi mdi-power"></span>Logout</a>
                </div>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">Dashboard</a>
          <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
              <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                  <li class="divider">Menu</li>
                  
                  <li class=" active"><a href="#"><i class="icon mdi mdi-face"></i><span>Dashboards</span></a>
                   </li>

                  <li class="parent"><a href="charts.html"><i class="icon mdi mdi-chart-donut"></i><span>Test Bank</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/add/test">New Test</a>
                      </li>
                      
                      <li><a href="/admin-panel/test/">Manage Test</a>
                      </li>

                      <li><a href="/admin-panel/test/">Test Action</a>
                      </li>
                     
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-dot-circle"></i><span>Learning</span></a>
                    <ul class="sub-menu">
                      
                      <li><a href="/admin-panel/post/add">New Post</a>
                      </li>
                      <li><a href="/admin-panel/post/">My Posts</a>
                      </li>
                    </ul>
                  </li>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-border-all"></i><span>Manage Users</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/students/">Students</a>
                      </li>

                      <li><a href="/admin-panel/staff/add">Staff</a>
                      </li>

                      <li><a href="/admin-panel/user/admin">Admin</a>
                      </li>
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-chart"></i><span>Reports</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/report/test">Test Report</a>
                      </li>

                      <li><a href="/admin-panel/report/exam">Exam Report</a>
                      </li>

                      <li><a href="/admin-panel/report/staff">Saff Activity</a>
                      </li>
                    </ul>
                  </li>

                  
                  <li class="parent"><a href="#"><i class="icon mdi mdi-dot-circle"></i><span>Account</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/account">My Account</a></li>
                    </ul>
                  </li>
                  <li class="divider">Other</li>
                  
                  <li class="parent"><a href="charts.html"><i class="icon mdi mdi-chart-donut"></i><span>Setup Website</span></a>
                    <ul class="sub-menu">
                      <li><a href="/admin-panel/steam">Question Bank Categories</a>
                      </li>
                      <li><a href="/admin-panel/branch"> College Programmes</a>
                      </li>
                      
                      <li><a href="/admin-panel/settings">Website Settings</a>
                      </li>
                     
                    </ul>
                  </li>
                  <li><a href="/admin-panel/announcement"><i class="icon mdi mdi-inbox"></i><span>Announcements</span></a>
                    
                  </li>
               
                  <li><a href="/admin-panel/session/"><i class="icon mdi mdi-assignment-account"></i><span>Session Manager</span></a>
                  </li>
                  <li><a href="/admin-panel/docs"><i class="icon mdi mdi-book"></i><span>Website Manual</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="be-content">
        <div class="main-content container-fluid">
            {% if messages %}


            {% for message in messages %}

            
            
            <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button>
                <div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
                <div class="message">{{message}}</div>
              </div>


        
            {% endfor %}
         {% endif %}

<div class="row">
            <div class="col-12 col-lg-12">
              <div class="accordion" id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <button class="btn collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="icon mdi mdi-chevron-right"></i>Add Teacher / Faculty</button>
                  </div>
                  <div class="{%  if edit == True %}  collapse show {% else %} collapse {% endif %}" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion" style="">
                  
                     <br><br>
                    <form action="" enctype="multipart/form-data" method="POST" class="col-md-12">
                    
                    {% csrf_token %}

                    <div class="form-group row">
                    
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Prefix*</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <select name="prefix"  class="form-control" id="inputText3" value="">
                        <option>Mr. </option>
                         <option>Mrs. </option>
                          <option>Dr. </option>
                        </select>
                      </div>
                    </div>
                           
                    <div class="form-group row">
                    
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">First Name*</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input name="first_name"  class="form-control" id="inputText3" value="{{current.first_name}}" type="text">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Last Name*</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                       <input name="lastname"  class="form-control" id="inputText3" value="{{current.last_name}}" type="text">
                       </div>
                    </div>

                     <div class="form-group row">
                    
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Employe ID</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                      <input name="employe_id"  class="form-control" id="inputText3" value="{{current.epployee_id}}" type="text">
                      </div>
                     </div>
                     <div class="form-group row">
                    
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Department*</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input name="department" value="{{current.department}}" placeholder="" class="form-control" id="inputText3" type="text">
                      </div>
                    </div>

                     <div class="form-group row">
                    
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Designation*</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input name="designation" value="{{current.desination}}" placeholder="" class="form-control" id="inputText3" type="text">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputDefault">Email*</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input name="email" value="{{current.email}}" class="form-control" id="inputDefault" type="email" placeholder="abc@example.com">
                      </div>
                    </div>
                    
                     <div class="form-group row pt-1 pb-1">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Status</label>
                      <div class="col-12 col-sm-8 col-lg-6 form-check mt-1">
                        
                        <label class="custom-control custom-radio custom-control-inline">
                          <input class="custom-control-input" {% if current.status == "Active" %} checked {% endif %} type="radio" value="Active" name="status"><span class="custom-control-label">Active</span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                          <input  class="custom-control-input" type="radio" value="In Active" {% if current.status == "In Active" %} checked {% endif %} name="status" ><span class="custom-control-label">In Active</span>
                        </label>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputDefault">Phone No. *</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input name="phone" class="form-control" id="inputDefault" type="text" value="{{current.phone}}">
                      </div>
                    </div>
                    {%  if edit != True %}
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputDefault">Password*</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input name="password" class="form-control" id="inputDefault" type="text" value="">
                      </div>
                    </div>
                    {% endif %}
                   
                    <div class="row pt-3">
                      <div class="col-lg-6 pb-4 pb-lg-0">
                      
                      </div>

             
                      <div class="col-sm-6">
                        <p class="text-right">
                          <button class="btn btn-space btn-primary" type="submit">Submit</button>
                         
                        </p>
                      </div>
                 
                    </div>
                   </form>
                  
                  </div>
                </div>
               
                
              </div>
            </div>
          
          </div>

                <div class="row">
                        <div class="col-lg-12">
                          <div class="card card-border-color card-border-color-primary card-table">
                            <div class="card-header ">All Teacher / Faculty</div>
                            
                            
                            <div class="card-body">
                             <table class="table">
                    <thead>
                      <tr>
                        <th style="width:30%;">Name</th>
                        <th style="width:10%;">Desination</th>
                        
                        <th style="width:10%;">Date</th>
                        <th >Department</th>
                        <th class="actions"></th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for user in users %}
                      <tr>
                        <td class="user-avatar"> <img src="{% static "admin/assets/img/avatar1.png" %}" alt="Avatar">{{user.prefix}} {{user.first_name}} {{user.lastname}} ({{user.epployee_id}})</td>
                        <td>{{user.desination}}</td>
                        <td>{{user.status}}</td>
                        <td>{{user.department}}</td>
                        
                      <td class="text-center">
                            <div class="btn-group btn-hspace">
                              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                              <div class="dropdown-menu" role="menu">
                               <a class="dropdown-item" href="/admin-panel/staff/edit/{{user.id}}">Edit Faculty</a>
                               <a class="dropdown-item" href="/admin-panel/staff/view/{{user.id}}">View Profile</a>
                              
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="/admin-panel/staff/add?action=delete&id={{user.id}}">Delete</a>
                              </div>
                            </div>
                          </td>
                      </tr>
                       {% endfor %}
                    </tbody>
                  </table>
                         
                            </div>
                          </div>
                        </div>
                    
                      </div>
        </div>
      </div>
      
    </div>
    <script src="{% static "admin/assets/lib/jquery/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/js/app.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.pie.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.time.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.resize.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/jquery.flot.orderBars.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/curvedLines.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/jquery.flot.tooltip.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery.sparkline/jquery.sparkline.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/countup/countUp.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-ui/jquery-ui.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jqvmap/jquery.vmap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jqvmap/maps/jquery.vmap.world.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      	//-initialize the javascript
      	App.init();
      	App.dashboard();
      
      });
    </script>
  </body>
</html>