{%  load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/logo-fav.png">
    <title>Beagle</title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/jqvmap/jqvmap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" %}"/>
    <link rel="stylesheet" href="{% static "admin/assets/css/app.css" %}" type="text/css"/>
  </head>
  <body>
    <div class="be-wrapper be-fixed-sidebar">
      <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
          <div class=""><a class="navbar-brand" href="index-2.html"></a>
          </div>
          <div class="page-title"><span><i>Top Academy</i></span></div>
          <div class="be-right-navbar">
            <ul class="nav navbar-nav float-right be-user-nav">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{% static "admin/assets/img/avatar.png"%}" alt="Avatar"><span class="user-name">Túpac Amaru</span></a>
                <div class="dropdown-menu" role="menu">     
                  <div class="user-info">
                    <div class="user-name">Túpac Amaru</div>
                    <div class="user-position online">Available</div>
                  </div><a class="dropdown-item" href="pages-profile.html"><span class="icon mdi mdi-face"></span>Account</a><a class="dropdown-item" href="#"><span class="icon mdi mdi-settings"></span>Settings</a><a class="dropdown-item" href="pages-login.html"><span class="icon mdi mdi-power"></span>Logout</a>
                </div>
              </li>
            </ul>
            <ul class="nav navbar-nav float-right be-icons-nav">
              <li class="nav-item dropdown"><a class="nav-link be-toggle-right-sidebar" href="#" role="button" aria-expanded="false"><span class="icon mdi mdi-settings"></span></a></li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><span class="icon mdi mdi-notifications"></span><span class="indicator"></span></a>
                <ul class="dropdown-menu be-notifications">
                  <li>
                    <div class="title">Notifications<span class="badge badge-pill">3</span></div>
                    <div class="list">
                      <div class="be-scroller-notifications">
                        <div class="content">
                          <ul>
                            <li class="notification notification-unread"><a href="#">
                                <div class="image"><img src="assets/img/avatar2.png" alt="Avatar"></div>
                                <div class="notification-info">
                                  <div class="text"><span class="user-name">Jessica Caruso</span> accepted your invitation to join the team.</div><span class="date">2 min ago</span>
                                </div></a></li>
                            <li class="notification"><a href="#">
                                <div class="image"><img src="assets/img/avatar3.png" alt="Avatar"></div>
                                <div class="notification-info">
                                  <div class="text"><span class="user-name">Joel King</span> is now following you</div><span class="date">2 days ago</span>
                                </div></a></li>
                            <li class="notification"><a href="#">
                                <div class="image"><img src="assets/img/avatar4.png" alt="Avatar"></div>
                                <div class="notification-info">
                                  <div class="text"><span class="user-name">John Doe</span> is watching your main repository</div><span class="date">2 days ago</span>
                                </div></a></li>
                            <li class="notification"><a href="#">
                                <div class="image"><img src="assets/img/avatar5.png" alt="Avatar"></div>
                                <div class="notification-info"><span class="text"><span class="user-name">Emily Carter</span> is now following you</span><span class="date">5 days ago</span></div></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="footer"> <a href="#">View all notifications</a></div>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><span class="icon mdi mdi-apps"></span></a>
                <ul class="dropdown-menu be-connections">
                  <li>
                    <div class="list">
                      <div class="content">
                        <div class="row">
                          <div class="col"><a class="connection-item" href="#"><img src="assets/img/github.png" alt="Github"><span>GitHub</span></a></div>
                          <div class="col"><a class="connection-item" href="#"><img src="assets/img/bitbucket.png" alt="Bitbucket"><span>Bitbucket</span></a></div>
                          <div class="col"><a class="connection-item" href="#"><img src="assets/img/slack.png" alt="Slack"><span>Slack</span></a></div>
                        </div>
                        <div class="row">
                          <div class="col"><a class="connection-item" href="#"><img src="assets/img/dribbble.png" alt="Dribbble"><span>Dribbble</span></a></div>
                          <div class="col"><a class="connection-item" href="#"><img src="assets/img/mail_chimp.png" alt="Mail Chimp"><span>Mail Chimp</span></a></div>
                          <div class="col"><a class="connection-item" href="#"><img src="assets/img/dropbox.png" alt="Dropbox"><span>Dropbox</span></a></div>
                        </div>
                      </div>
                    </div>
                    <div class="footer"> <a href="#">More</a></div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">Dashboard</a>
          <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
              <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                  <li class="divider">Menu</li>
                  
                  <li class="parent"><a href="#"><i class="icon mdi mdi-face"></i><span>Dashboard</span></a>
                    <ul class="sub-menu">
                      <li><a href="ui-alerts.html">My Activity</a>
                      </li>
                      <li><a href="ui-alerts.html">Teacher Activity</a>
                      </li>
                      <li><a href="ui-buttons.html">Student Activity</a>
                      </li>
                     
                    </ul>
                  </li>

                  <li class="parent"><a href="charts.html"><i class="icon mdi mdi-chart-donut"></i><span>Question Banks</span></a>
                    <ul class="sub-menu">
                      <li><a href="charts-flot.html">Mock Test</a>
                      </li>
                      <li><a href="charts-sparkline.html">Practice Test</a>
                      </li>
                      <li><a href="charts-sparkline.html">Manage QB</a>
                      </li>
                     
                    </ul>
                  </li>

                  
                  <li class="parent"><a href="#"><i class="icon mdi mdi-border-all"></i><span>Manage Users</span></a>
                    <ul class="sub-menu">
                      <li><a href="tables-general.html">Students</a>
                      </li>
                      <li><a href="tables-datatables.html">Teacher</a>
                      </li>
                      <li><a href="tables-filters.html"><span class="badge badge-primary float-right">New</span>Admin</a>
                      </li>
                    </ul>
                  </li>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-layers"></i><span>Historic Activity</span></a>
                    <ul class="sub-menu">
                      <li><a href="pages-blank.html">Admin</a>
                      </li>
                      <li><a href="pages-blank-header.html">Teacher</a>
                      </li>
                      <li><a href="pages-login.html">Student</a>
                      </li>
                      
                    </ul>
                  </li>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-dot-circle"></i><span>Account</span></a>
                    <ul class="sub-menu">
                      <li><a href="form-elements.html">Add Admin</a>
                      </li>
                      <li><a href="form-validation.html">Add Teacher</a>
                      </li>
                      <li><a href="form-multiselect.html">My Account</a>
                      </li>
                      
                    </ul>
                  </li>
                  <li class="divider">Other</li>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-inbox"></i><span>Announcements</span></a>
                    <ul class="sub-menu">
                        <li><a href="email-inbox.html">To All</a>
                        </li>
                      <li><a href="email-inbox.html">To Teacher</a>
                      </li>
                      <li><a href="email-read.html">To Student</a>
                      </li>
                      <li><a href="email-compose.html">To Admins</a>
                      </li>
                    </ul>
                  </li>
               
                  <li class="parent"><a href="charts.html"><i class="icon mdi mdi-chart-donut"></i><span>Setup Website</span></a>
                    <ul class="sub-menu">
                      <li  class="active"><a href="charts-flot.html">Add Steam</a>
                      </li>
                      <li><a href="charts-sparkline.html">Add Branches</a>
                      </li>
                      <li><a href="charts-sparkline.html">Subjects</a>
                      </li>
                      <li><a href="charts-chartjs.html">Signup Settings</a>
                      </li>
                      <li><a href="charts-chartjs.html">SEO Meta</a>
                      </li>
                     
                    </ul>
                  </li>
                  <li><a href="documentation.html"><i class="icon mdi mdi-book"></i><span>Admin Manual</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="be-content">
        <div class="main-content container-fluid">
            {% if messages %}


            {% for message in messages %}

            
            
            <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button>
                <div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
                <div class="message">{{message}}</div>
              </div>


        
            {% endfor %}
         {% endif %}
<div class="row">

                        <div class="col-lg-12">
        <div class="">
              <div class="tab-container">
                <ul class="nav nav-tabs nav-tabs-classic" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#classic_home" data-toggle="tab" role="tab" aria-selected="true">Test Details</a></li>
                  <li class="nav-item"><a class="nav-link" href="#classic_messages" data-toggle="tab" role="tab">1 . Question Bank</a></li>
                  <li class="nav-item"><a class="nav-link" href="#classic_messages" data-toggle="tab" role="tab">2 . Marking Settings</a></li>
               
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="classic_home" role="tabpanel">
                  <form>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Test Name</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input value="{{test_detail.test_name}}" class="form-control" id="inputText3" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputPassword3">Description</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input class="form-control" value="{{test_detail.description}}" id="inputPassword3" type="text">
                      </div>
                    </div>

                     <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Status</label>
                      <div class="col-12 col-sm-8 col-lg-6 pt-1">
                        <div class="switch-button switch-button-success">
                          <input type="checkbox" {% if test_details.status == "Active" %} checked {% endif %}  name="swt5" id="swt5"><span>
                            <label for="swt5"></label></span>
                        </div>
                        <p class="badge badge-primary">{{test_detail.status}}</p>
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">is SCT</label>
                      <div class="col-12 col-sm-8 col-lg-6 pt-1">
                        <div class="switch-button switch-button-success">
                          <input type="checkbox" {% if test_details.isSCT_test == True %} checked {% endif %}  name="swt5" id="swt5"><span>
                            <label for="swt5"></label></span>
                        </div>
                      </div>
                    </div>
                     {% if test_details.isSCT_test == True %}
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Degree</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input value="{{test_details.SCTSteam}}" class="form-control" id="inputText3" disabled type="text">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Branch</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input value="{{test_details.SCTBranch}}" class="form-control" id="inputText3" disabled type="text">
                      </div>
                    </div>


                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Semester
                      </label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input  value="{{test_details.SCTSemester}}"  class="form-control" id="inputText3" disabled type="text">
                      </div>
                    </div>
                    {% endif %}
                     {% if test_details.category_level == "Double Level" or test_details.category_level == "Single Level" %}

                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Category
                      </label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input disabled class="form-control" id="inputText3"  type="text">
                      </div>
                    </div>
                    {% endif %}
                    
                    {% if test_details.category_level ==  'Double Level' %}

                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Sub Category
                      </label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input disabled class="form-control" id="inputText3"  type="text">
                      </div>
                    </div>
                    {% endif %}
                     {% if test_details.category_level == "Triple Level" %}
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Sub Category
                      </label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input disabled class="form-control" id="inputText3"  type="text">
                      </div>
                    </div>
                     {% endif %}
                     <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Time Based</label>
                      <div class="col-12 col-sm-8 col-lg-6 pt-1">
                        <div class="switch-button switch-button-success">
                          <input {% if test_advanced.isTimer == True %} checked {% endif %} type="checkbox" name="swt5" id="swt5"><span>
                            <label for="swt5"></label></span>
                        </div>
                      </div>
                    </div>
                   {% if test_advanced.isTimer == True %} 
                    
                        <div class="form-group row pt-1">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Timer Duration</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <select name="timer" class="form-control">
                           <option {% if test_advanced.TimerLength == "30" %}  selected="" {% endif %} value="30">30 min</option>
                          <option {% if test_advanced.TimerLength == "60" %}  selected="" {% endif %} value="60">1 hr</option>
                          <option {% if test_advanced.TimerLength == "90" %}  selected="" {% endif %} value="90">1 hr 30 min</option>
                          <option {% if test_advanced.TimerLength == "120" %}  selected="" {% endif %} value="120">2 hr</option>
                          <option {% if test_advanced.TimerLength == "150" %}  selected="" {% endif %} value="150">2 hr 30 min</option>
                          <option {% if test_advanced.TimerLength == "180" %}  selected="" {% endif %} value="180">3 hr</option>
                          <option {% if test_advanced.TimerLength == "240" %}  selected="" {% endif %} value="240">3 hr 30 min</option>
                          <option {% if test_advanced.TimerLength == "280" %}  selected="" {% endif %} value="280">4 hr</option>
                        </select>
                      </div>
                    </div>
                  
                  {% endif %}

                     <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Test Avability is Set</label>
                      <div class="col-12 col-sm-8 col-lg-6 pt-1">
                        <div class="switch-button switch-button-success">
                          <input {% if test_advanced.isAvailDuration == True %} checked {% endif %} type="checkbox"  name="swt5" id="swt5"><span>
                            <label for="swt5"></label></span>
                        </div>
                      </div>
                    </div>

                    {% if test_advanced.isAvailDuration == True %}

                  <div id="date_display" >
                      <div  class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Test Availablity Date</label>
                      <div class="col-12 col-sm-4 col-lg-3 mt-1">
                     <div class="input-group date datetimepicker" data-min-view="2" data-date-format="yyyy-mm-dd">
                          <input name="from-dur" placeholder="From" class="form-control" size="16" type="text" value="{{test_advanced.DurationFrom}}">
                          <div class="input-group-append">
                            <button class="btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></button>
                          </div>
                        </div></div>

                      <div  class="col-12 col-sm-4 col-lg-3 mt-1">
                     
                     <div class="input-group date datetimepicker" data-min-view="2" data-date-format="yyyy-mm-dd">
                          <input  placeholder="To" class="form-control" size="16" name="to-dur" type="text" value="{{test_advanced.DurationTo}}">
                          <div class="input-group-append">
                            <button class="btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></button>
                          </div>
                        </div> <div class="custom-control custom-checkbox custom-control-inline">
                      
                          <input name="dur-forever" {% if test_advanced.DurationTo == "Forever" %}checked=""{% endif %}  class="custom-control-input" type="checkbox" value="True"  id="dur-forever">
                          <label class="custom-control-label" for="dur-forever">Available Forever</label>
                        </div>
                      </div>
                    </div>

</div>  
{% endif %}

                  </form> </div>
                 
                  <div class="tab-pane" id="classic_messages" role="tabpanel">
                  <div class="form-group row">
                       <div  class="col-md-4" >
                          <div class="text-center">
                              <br><br>
                              <a href="#" class="btn btn-sq-lg btn-primary">
                                      <p></p>
                                      <p><i class="mdi mdi-collection-plus " style="font-size: 40px;"></i></p>
                                      <p class="lead">Add Manually<br>
                                      <small>MCQ, Fill Up & True/False etc</small>
                               </p>
                              </a>
                  
                  
                             
                             </div>
                            </div>
                             <br>
                      <form method="post" class="col-md-8" enctype="multipart/form-data">
                         {% csrf_token %}
                        <p>If you have consistent question like all Single Answer : MCQ then upload it using below Question uploader.</p>
                         <p>Excel Sheet must have 6 colums in same sequence</p>
                        
                         
                         <ul style="list-style-type:decimal">
                         <li>Question</li>
                         <li>Option One</li>
                         <li>Option Two</li>
                         <li>Option Three</li>
                         <li>Option Four</li>
                         <li>Answer</li>
                         </ul>
                           <div class=""> <p class="" for="file-2">You can upload only .xlsx(utf-8) and .csv is allowed below or add Question manually.</p>
                        
                               <input type="file" name="file-2"  >
                               <button name="qb"  class="btn btn-space btn-primary" type="submit"><i class="icon icon-left mdi mdi-plus"></i>Upload Question</button>
               
                      </div>
                  
                      </div>
                    </div>

                 </form>
                </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      
    </div>
    <script src="{% static "admin/assets/lib/jquery/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/js/app.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.pie.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.time.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/jquery.flot.resize.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/jquery.flot.orderBars.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/curvedLines.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-flot/plugins/jquery.flot.tooltip.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery.sparkline/jquery.sparkline.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/countup/countUp.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jquery-ui/jquery-ui.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jqvmap/jquery.vmap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/assets/lib/jqvmap/maps/jquery.vmap.world.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        var i=0;
        function add_question(){

          $.ajax({
            url: "/admin-panel/ajax_qb/test/"+i
          }).done(function(dataa) {
            $('#append_q_here').append(dataa);

           });

          i++;

        }
      $(document).ready(function(){
      	//-initialize the javascript
      	App.init();
      	App.dashboard();
        
      });
    </script>
  </body>
</html>