{%  load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/logo-fav.png">
    <title>Beagle</title>
    <link rel="stylesheet" type="text/css" href="{% static "student/assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "student/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" %}"/>
    <link rel="stylesheet" href="{% static "student/assets/css/app.css" %}" type="text/css"/>
    
   <link rel="stylesheet" type="text/css" href="{% static "student/assets/lib/bootstrap-slider/css/bootstrap-slider.min.css" %}"/>
   <link rel="stylesheet" type="text/css" href="{% static "student/assets/lib/select2/css/select2.min.css" %}"/>
   <link rel="stylesheet" type="text/css" href="{% static "student/assets/lib/jquery.gritter/css/jquery.gritter.css" %}"/>
   <link rel="stylesheet" type="text/css" href="{% static "student/assets/lib/mprogress/css/mprogress.min.css" %}"/>

    <style>
    .image-checkbox
    {
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 2px solid transparent;
        outline: 0;
    }

        .image-checkbox input[type="checkbox"]
        {
            display: none;
        }

    .image-checkbox-checked
    {
        border-color: #2828ff;
        border-radius: 5px; 

    }
</style>


  </head>
  <body>
  
    <div class="be-wrapper be-aside be-fixed-sidebar   {% if email == False %} be-color-header   {% endif %}">
    
       <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
          <div class="be-navbar-header"><div class="page-title"><span>Top Academy</span></div> </div>
         
         {% if email == False %}  <div class="page-title"><span style="font-size:13px;">Email verification is pending please verify your email address or resend verification <a href="#" onclick="send_email()" class="btn btn-warning btn-xs">email</a>.</span></div>
            {% endif %}
         
          <div class="be-right-navbar">
            <ul class="nav navbar-nav float-right be-user-nav">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="assets/img/avatar.png" alt="Avatar"><span class="user-name">Túpac Amaru</span></a>
                <div class="dropdown-menu" role="menu">     
                  <div class="user-info">
                    <div class="user-name">Túpac Amaru</div>
                    <div class="user-position online">Available</div>
                  </div><a class="dropdown-item" href="pages-profile.html"><span class="icon mdi mdi-face"></span>Account</a><a class="dropdown-item" href="#"><span class="icon mdi mdi-settings"></span>Settings</a><a class="dropdown-item" href="pages-login.html"><span class="icon mdi mdi-power"></span>Logout</a>
                </div>
              </li>
            </ul>
            <ul class="nav navbar-nav float-right be-icons-nav">
              <li class="nav-item dropdown"><a class="nav-link be-toggle-right-sidebar" href="#" role="button" aria-expanded="false"><span class="icon mdi mdi-settings"></span></a></li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><span class="icon mdi mdi-notifications"></span><span class="indicator"></span></a>
                <ul class="dropdown-menu be-notifications">
                  <li>
                    <div class="title">Notifications<span class="badge badge-pill">3</span></div>
                    <div class="list">
                      <div class="be-scroller-notifications">
                        <div class="content">
                          <ul>
                            <li class="notification notification-unread"><a href="#">
                                <div class="image"><img src="assets/img/avatar2.png" alt="Avatar"></div>
                                <div class="notification-info">
                                  <div class="text"><span class="user-name">Jessica Caruso</span> accepted your invitation to join the team.</div><span class="date">2 min ago</span>
                                </div></a></li>
                            <li class="notification"><a href="#">
                                <div class="image"><img src="assets/img/avatar3.png" alt="Avatar"></div>
                                <div class="notification-info">
                                  <div class="text"><span class="user-name">Joel King</span> is now following you</div><span class="date">2 days ago</span>
                                </div></a></li>
                            <li class="notification"><a href="#">
                                <div class="image"><img src="assets/img/avatar4.png" alt="Avatar"></div>
                                <div class="notification-info">
                                  <div class="text"><span class="user-name">John Doe</span> is watching your main repository</div><span class="date">2 days ago</span>
                                </div></a></li>
                            <li class="notification"><a href="#">
                                <div class="image"><img src="assets/img/avatar5.png" alt="Avatar"></div>
                                <div class="notification-info"><span class="text"><span class="user-name">Emily Carter</span> is now following you</span><span class="date">5 days ago</span></div></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="footer"> <a href="#">View all notifications</a></div>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><span class="icon mdi mdi-apps"></span></a>
                <ul class="dropdown-menu be-connections">
                  <li>
                    <div class="list">
                      <div class="content">
                        <div class="row">
                          <div class="col"><a class="connection-item" href="#"><img src="assets/img/github.png" alt="Github"><span>GitHub</span></a></div>
                          <div class="col"><a class="connection-item" href="#"><img src="assets/img/bitbucket.png" alt="Bitbucket"><span>Bitbucket</span></a></div>
                          <div class="col"><a class="connection-item" href="#"><img src="assets/img/slack.png" alt="Slack"><span>Slack</span></a></div>
                        </div>
                        <div class="row">
                          <div class="col"><a class="connection-item" href="#"><img src="assets/img/dribbble.png" alt="Dribbble"><span>Dribbble</span></a></div>
                          <div class="col"><a class="connection-item" href="#"><img src="assets/img/mail_chimp.png" alt="Mail Chimp"><span>Mail Chimp</span></a></div>
                          <div class="col"><a class="connection-item" href="#"><img src="assets/img/dropbox.png" alt="Dropbox"><span>Dropbox</span></a></div>
                        </div>
                      </div>
                    </div>
                    <div class="footer"> <a href="#">More</a></div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">Dashboard</a>
          <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
              <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                  <li class="divider">Menu</li>
                  <li ><a href="index-2.html"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a>
                  </li>
                   <li class="active"><a href="index-2.html"><i class="icon mdi mdi-search"></i><span>Browse Test</span></a>
                  </li>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-code"></i><span>Practice</span></a>
                    <ul class="sub-menu">
                      <li ><a href="ui-alerts.html">Mock Test</a>
                      </li>
                      <li><a href="ui-alerts.html">Practice Test</a>
                      </li>
                     
                     
                    </ul>
                  </li>
                  <li><a href="index-2.html"><i class="icon mdi mdi-library"></i><span>Learning</span></a>
                  </li>
                 
                  <li><a href="#"><i class="icon mdi mdi-notifications-add"></i><span>Analytics </span></li>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-account"></i><span>My Account</span></a>
                    <ul class="sub-menu">
                      <li><a href="form-elements.html">Personal Info</a>
                      </li>
                      <li><a href="form-validation.html">Acadamic Info</a>
                      </li>
                      
                      
                    </ul>
                  </li>
                   <li><a href="#"><i class="icon mdi mdi-notifications-add"></i><span>Notifications </span></li>
                </ul>
              </div>
              
            </div>
            
          </div>
          <div class="progress-widget primary">
            <div class="progress-data"><span class="progress-value"><span class="mdi mdi-android"></span> </span><span class="name">Download App</span></div>
            
          </div>
        </div>
      </div>
     <div class="be-content be-no-padding">
        <aside class="page-aside">
          <div class="be-scroller-aside ps ps--active-y">
            <div class="aside-content">
              <div class="content">
                <div class="aside-header">
                  <button class="navbar-toggle" data-target=".aside-nav" data-toggle="collapse" type="button"><span class="icon mdi mdi-caret-down"></span></button><span class="title">Browse Test</span>
                  <p class="description">Refine Result Below</p>
                </div>
              </div>
           
              <div class="aside-nav collapse">
                <div class="content">
                  <div class="form-group">
                    <label>Steam</label>
                   <select id="category" onchange="steam_select(this)" class="form-control form-control-sm">
                        <option value="">Select One </option>
                        {% for steam in steam_c %}
                         <option value="{{steam.steam_link_id}}"> {{steam.steam_name}} </option>
                        {% endfor %}
                         
                         
                        </select>
                  </div>
                  <div class="ajax-steam">
                    
                    </div>
                  <div class="form-group">
                    <label>Difficulty Level</label>
                    <div class="">
                        <label class="custom-control custom-radio ">
                          <input class="custom-control-input" type="radio" value="Hard" id="difficulty" name="radio-inline" checked=""><span class="custom-control-label">Hard</span>
                        </label>
                        <label class="custom-control custom-radio ">
                          <input class="custom-control-input" type="radio"  value="Medium" id="difficulty"  name="radio-inline"><span class="custom-control-label">Medium</span>
                        </label>
                        <label class="custom-control custom-radio ">
                          <input class="custom-control-input" type="radio" value="Easy" id="difficulty"  name="radio-inline"><span class="custom-control-label">Easy</span>
                        </label>
                      </div> <div class="form-group mb-3">
                    <label>Type</label>
                    <div class="row mt-1">
                      <div class="col-12">
                        <div class="custom-control custom-checkbox w-100 mr-0">
                          <input class="custom-control-input" name="test_type" id="test_type" value="Mock" type="checkbox" checked="" >
                          <label class="custom-control-label" for="check1">Mock Test</label>
                        </div>
                       <div class="custom-control custom-checkbox w-100">
                          <input class="custom-control-input" name="test_type" id="test_type" value="Practice" type="checkbox" >
                          <label class="custom-control-label" for="check2">Practice Test</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                 <button type="submit" onclick="browse();" class="btn btn-lg btn-primary btn-block" href="#">Search</button>
                </div>
              </div>
            </div>
          <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 728px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 667px;"></div></div></div>
        </aside>
        <div class="main-content container-fluid">
          <div class="be-aside-header">
            <div class="row">
              <div class="col-lg-6">
                <div class="be-aside-header-title">Refined Result </div>
              </div>
              <div class="col-lg-6">
                <div class="be-aside-header-search">
                  <div class="input-group input-search input-group-sm">
                    <input class="form-control" type="text" id="myInput" placeholder="Search"><span class="input-group-btn">
    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="loader_here">


          </div>
          
          <div id="search_body" class="row be-booking-promos ajax-loader">
             
         
          </div>
        </div>
      </div>

    <script src="{% static "student/assets/lib/jquery/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/js/app.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/jquery-flot/jquery.flot.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/jquery-flot/jquery.flot.pie.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/jquery-flot/jquery.flot.time.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/jquery-flot/jquery.flot.resize.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/jquery-flot/plugins/jquery.flot.orderBars.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/jquery-flot/plugins/curvedLines.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/jquery-flot/plugins/jquery.flot.tooltip.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/jquery.sparkline/jquery.sparkline.min.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/countup/countUp.min.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/jquery-ui/jquery-ui.min.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/jqvmap/jquery.vmap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/jqvmap/maps/jquery.vmap.world.js" %}" type="text/javascript"></script>
  
    <script src="{% static "student/assets/lib/jquery.niftymodals/js/jquery.niftymodals.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/datetimepicker/js/bootstrap-datetimepicker.min.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/jquery.gritter/js/jquery.gritter.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/mprogress/js/mprogress.min.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/bootstrap-slider/bootstrap-slider.min.js" %}" type="text/javascript"></script>
    <script src="{% static "student/assets/lib/select2/js/select2.min.js" %}"  type="text/javascript"></script>
    <script src="{% static "student/assets/lib/select2/js/select2.full.min.js" %}"  type="text/javascript"></script>
   
    <script type="text/javascript">
      $.fn.niftyModal('setDefaults',{
      	overlaySelector: '.modal-overlay',
      	contentSelector: '.modal-content',
      	closeSelector: '.modal-close',
      	classAddAfterOpen: 'modal-show'
      });
    jQuery(function ($) {
        // init the state from the input
        $(".image-checkbox").each(function () {
            if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
                $(this).addClass('image-checkbox-checked');
            }
            else {
                $(this).removeClass('image-checkbox-checked');
            }
        });

        // sync the state to the input
        $(".image-checkbox").on("click", function (e) {
            if ($(this).hasClass('image-checkbox-checked')) {
                $(this).removeClass('image-checkbox-checked');
                $(this).find('input[type="checkbox"]').first().removeAttr("checked");
            }
            else {
                $(this).addClass('image-checkbox-checked');
                $(this).find('input[type="checkbox"]').first().attr("checked", "checked");
            }

            e.preventDefault();
        });
    });
    </script>


    <script type="text/javascript">
      var mprogress = new Mprogress();
    function browse(passfull = false){

      mprogress.start();
      
      var pass_var = {};  
      pass_var['category'] = $('#category').val();
      pass_var['subcategory'] = $('#second_category').val();
      pass_var['second_category'] = $('#second_sub_category').val();
      pass_var['difficulty'] = $('#difficulty').val();
      pass_var['test_type'] = $('#test_type').val();
      pass_var['passfull'] = passfull;
 
      //console.log(pass_var);
      if (pass_var['category'] !='' || passfull==true){
        var loader = " <br><br> <p class='text-center'><img height='60px' src='/static/admin/assets/ajax.gif'/></p> ";
        $('#loader_here').html(loader);
      $.ajax({
        url: "/student/test/browse/ajax-browse",
        context: document.body,
        data: pass_var,
        method: 'GET'
      }).done(function(data) {
        console.log(data)
        if(data.count>0){
          $('#loader_here').html("");
          $('.ajax-loader').html("");
         $.each(data.data, function( index, value ) {
          if(value.AskQuestion>0){
          var quest = '<span style="font-size:15px;font-weight:400;" class="badge  badge-default"> '+value.AskQuestion+' Questions </span> ';
          }else{
            var quest = '';
          }
          var cat2 = "", cat1 = "";
           if(value.category_one!=''){
             cat1 = '<li class="breadcrumb-item">'+value.category_one+'</li>';
           }
           if(value.category_two!=''){
             cat2 = '<li class="breadcrumb-item">'+value.category_two+'</li>';
            }
           var category = '<ol class="breadcrumb " style="font-size:10px;margin-bottom:0;background-color: white;   padding: 2px 0px 2px;"><li class="breadcrumb-item"><a href="#">'+value.steam+'</a></li>'+cat1+cat2+' </ol>';
          if(value.isTimer == false){
            var wrap_timer = '<div class="be-booking-promo-amount"><span class="price mdi mdi-timer-off"></span></div>';
          }else{
            var wrap_timer = '<div class="be-booking-promo-amount"><span class="currency mdi mdi-time-countdown"></span><span class="price">'+value.TimerLength+'</span><span class="frecuency"> min </span></div>';
            
          }

          var main_wrap = ' <div data-steam="'+value.test_name+':'+value.category_one+':'+value.category_two+':'+value.test_name+':'+value.description+'" class="col-md-12"> <div class="be-booking-promo be-booking-promo-soldout  be-booking-promo-success"> <div class="be-booking-desc "> <h4 class="be-booking-desc-title">'+value.test_name+' </h4><span class="be-booking-desc-details">'+value.description+'</span>  '+category+' <br>  '+ quest +'</div> <div class="be-booking-promo-price"> '+ wrap_timer +'<a class="btn btn-primary be-booking-btn-price" href="/student/test/details/'+value.id+'">Start Test</a> <p> <small style="font-size: 9px;">Uploaded by '+value.added_by+'</small> </p></div><span class="be-soldout-title">'+ value.test_type+'</span> </div></div>';
          $('.ajax-loader').append(main_wrap)

        });
        
          
          
         }else{
          $('.ajax-loader').html("");
          $('#loader_here').html("<br><br><div class='text-center'> <h1>Not Test Found</h1><p>Please try with other filters.</p></div>");

         }


        mprogress.end();
      });
      }else{
        $.gritter.add({
          title: "Error Occured",
          text: "Please select the steam.",
          class_name:"color warning"
      })
        mprogress.end();
      }
    

      
     
    }

        browse(true);

         var currentsct = false;
        function sct(){
           if (currentsct == false){currentsct =  true;}else{currentsct = false;}
        var loader = "<p class='text-center'><img height='60px' src='/static/admin/assets/ajax.gif'/></p>";

         $('.load_ajax_here').html(loader);
          $.ajax({
            url: "/student/test/browse/ajax/"+currentsct+"/l/no",
            context: document.body
          }).done(function(data) {
            $('.load_ajax_here').html(data);

            
          });

        }

        function steam_select(e){
       
       var loader = "<p class='text-center'><img height='60px' src='/static/admin/assets/ajax.gif'/></p>";

        $('.ajax-steam').html(loader);
          $.ajax({
            url: "/student/test/browse/ajax-steam/"+e.value,
            context: document.body
          }).done(function(dataa) {
            $('.ajax-steam').html(dataa);

            
          });


}

       


      $(document).ready(function(){


        function delay(callback, ms) {
          var timer = 0;
          return function() {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
              callback.apply(context, args);
            }, ms || 0);
          };
        }
  
        $("#myInput").keyup(delay(function (e) {
          
          var value = $(this).val().toLowerCase();
          console.log(value, "ds");
          //var atr = $('#steam_body').attr();
          var find = $("#search_body").find("[data-steam]"); 
           console.log(find);
          find.each(function(obj){
            
            let ob = find[obj];
            
            const steam_name = ob.dataset.steam;
            let tog = steam_name.toLowerCase().indexOf(value)
            if(tog > -1){
              $(ob).show(500);
            }else{
              //console.log(steam_name)
              $(ob).toggle(500);
            }
          })
          
  
        }, 500));



      	//-initialize the javascript
      	App.init();
     
        $(".datetimepicker").datetimepicker();
        App.booking();
      });

      

    </script>
  </body>
</html>