<nav class="navbar navbar-expand fixed-top be-top-header">
    <div class="container-fluid">
   

      <div class="page-title"> {% if setting_obj.logo != ''%} <img style="height:30px;" src="{{setting_obj.logo}}"> {% else %}  {% if setting_obj.logo != ''%} <img style="height:30px;" src="{{setting_obj.logo}}"> {% else %}  <span><i>Top Academy</i></span>  {% endif %}  {% endif %}</div>
          
     
     {% if email == False %}  <div class="page-title"><span style="font-size:13px;">Email verification is pending please verify your email address or resend verification <a href="#" onclick="send_email()" class="btn btn-warning btn-xs">email</a>.</span></div>
     
     {% endif %}
     
      <div class="be-right-navbar">
        <ul class="nav navbar-nav float-right be-user-nav">
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{{student.academic.profile}}" alt="Avatar"><span class="user-name">{{student.students.first_name}} {{student.students.last_name}}</span></a>
            <div class="dropdown-menu" role="menu">     
              <div class="user-info">
                <div class="user-name">{{student.students.first_name}} {{student.students.last_name}}</div>
                <div class="user-position online">Available</div>
              </div><a class="dropdown-item" href="/student/account/"><span class="icon mdi mdi-face"></span>My Account</a><a class="dropdown-item" href="/student/account/academy"><span class="icon mdi mdi-settings"></span>Academy</a><a class="dropdown-item" href="/student/logout"><span class="icon mdi mdi-power"></span>Logout</a>
            </div>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>