<nav class="navbar navbar-expand fixed-top be-top-header">
    <div class="container-fluid">
   

      <div class="page-title"> {% if setting_obj.logo != ''%} <img style="height:30px;" src="{{setting_obj.logo}}"> {% else %}  {% if setting_obj.logo != ''%} <img style="height:30px;" src="{{setting_obj.logo}}"> {% else %}  <span><i>Top Academy</i></span>  {% endif %}  {% endif %}</div>

     
      <div class="be-right-navbar">
        <ul class="nav navbar-nav float-right be-user-nav">
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{{teacher.avatar}}" alt="Avatar"><span class="user-name">{{teacher.first_name}} {{teacher.last_name}}</span></a>
            <div class="dropdown-menu" role="menu">     
              <div class="user-info">
                <div class="user-name">{{teacher.first_name}} {{teacher.last_name}}</div>
                <div class="user-position online">Available</div>
              </div><a class="dropdown-item" href="/teacher/account/"><span class="icon mdi mdi-face"></span>My Account</a><a class="dropdown-item" href="/teacher/account/experience"><span class="icon mdi mdi-settings"></span>Academy</a><a class="dropdown-item" href="/teacher/logout"><span class="icon mdi mdi-power"></span>Logout</a>
            </div>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>